[2022-09-16 09:07] #5667 closed

[2022-09-16 10:20] #5582 closed

[2022-09-16 14:00] MementoRC commented on #5602
This seems to be a core issue related to the WSConnector, I observed it on Kucoin as well and it was reported for FTX. The hint so far is that the WS connection dies and the `_connected` cannot reflect that the connection cannot receive, tries to receive and emits the error

[2022-09-16 14:25] MementoRC commented on #4962
This is reproducible with adding a case to the testsuite. This should not be too difficult to correct

[2022-09-18 16:22] JeremyKono commented on #5211
@tomasgaudino hi, can we please have your ETH wallet so we can make the HBOT payment? Thanks!

[2022-09-18 18:59] tomasgaudino commented on #5211
Hi Jeremy!

Here is my address: 0x2218b33f88A5460fA2c3eaA3D66c635beE746218

Thanks!

Enviado desde Outlook<http://aka.ms/weboutlook>

________________________________
De: Jeremy Kono ***@***.***>
Enviado: domingo, 18 de septiembre de 2022 13:22
Para: hummingbot/hummingbot ***@***.***>
Cc: Tomás Gaudino ***@***.***>; Mention ***@***.***>
Asunto: Re: [hummingbot/hummingbot] Client - Accepts blank pa

[2022-09-18 19:55] nikspz commented on #5704
Works on bot ver 1.7.0
[conf_perpetual_market_making_1.txt](https://github.com/hummingbot/hummingbot/files/9595151/conf_perpetual_market_making_1.txt)

![image](https://user-images.githubusercontent.com/83953535/190925596-fda1c1da-3cd8-4b6e-82f1-b71822920966.png)
![image](https://user-images.githubusercontent.com/83953535/190925601-d33df714-9dc7-447b-9c86-194f68949df1.png)

Works on Latest develop

[2022-09-18 19:55] #5704 closed

[2022-09-19 01:09] rapcmia opened #5712 "Coinflex - There was an error requesting exchange info "Service Unavailable""
**Describe the bug**
While checking development branch, we have noticed this error on the log panel for `Coinflex perpetual` connector `ERROR - There was an error requesting exchange info...`

![image](https://user-images.githubusercontent.com/73840223/190936146-95a6a1b0-bf54-4ddf-a362-e68ec57205e5.png)

[code]

_Note: While this is observed happening on the log panel, it does not seem to affect o

[2022-09-19 01:37] han-qiu commented on #5591
Hi, I wasn't able to reproduce, I connected pangolin and the auto complete shows pangolin for me.
<img width="695" alt="image" src="https://user-images.githubusercontent.com/10163317/190937616-558b9f20-9598-4047-977e-4d73671abac9.png">
branch: development.

[2022-09-19 01:38] han-qiu commented on #5591
@arnelhbot could you take a look?

[2022-09-19 02:12] rapcmia commented on #5591
Hi @han-qiu thanks for the update, however you would need to check the autocomplete for the markets, not the connector. This can be reproduced on the part where you are trying to select or input your market pair after selecting the connector
![image](https://user-images.githubusercontent.com/73840223/190939673-5fed0846-c69c-482d-9f65-8df178381bf9.png)

[2022-09-19 05:34] KlaSun opened #5713 "Failed to refresh the listen key - Binance Perpetuals"
After running Hummingbot trading on Binance perpetuals for 1 hour (almost exactly 1 hour), I get the following error:
"Failed to refresh the listen key {my key here} {'code': -2014, 'msg': 'API-key format invalid.'}"

This bug can be reproduced by just running any script for 1 hour on binance perpetuals.

I am using version 1.7.0 of Hummingbot

Discord: klakteuh#2368

[2022-09-19 06:59] #5211 closed

[2022-09-19 07:18] rapcmia commented on #5656
Hi @toxicehc apologies on the delay, it seems we are getting the same behavior when tested uniswap-polygon mainnet. I'll check with our dev team for further advise as its been noticeably happening both on the client and endpoint tests, thank you

[2022-09-19 08:49] toxicehc commented on #5656
Thank you much appreciated :)

[2022-09-19 09:01] KlaSun commented on #5713
Thanks. Are you able to keep trading after the warning ? I lose connectivity and have to stop and restart the script

[2022-09-19 09:14] delavegaOpengl opened #5714 "Installation on Windows: PermissionError: [Errno 1] Operation not permitted: '/home/hummingbot/conf/conf_fee_overrides.yml'"
I tried installation with docker on windows via script, but i got this error:

diego@MSI:/mnt/d$ ./create.sh

===============  CREATE A NEW HUMMINGBOT INSTANCE ===============

ℹ️  Press [ENTER] for default values:

   Enter Hummingbot version you want to use [latest/development] (default = "latest") >>>
   Enter a name for your new Hummingbot instance (default = "hummingbot-instance") >>>
   Ente

[2022-09-19 09:14] preze93 opened #5715 "Gateway - XEMM not working on Arbitrum Uniswap"
Hi guys,
As suggested by @Faouzijedidi1 , I leave here a bug that I found when trying Gateway with XEMM on UNISWAP Arbitrum network

I set up a XEMM strategy having a CEX as my maker (GMX-USDT) and Arbitrum Uniswap (GMX-USDC) as a taker exchange. I load up the tokens on both sides so that the bot is able to trade and also leaving some Eth for gas
![image](https://user-images.githubusercontent.com/

[2022-09-19 10:34] KlaSun commented on #5713
Ok so actually the issue isn't that you can't create orders after the warning, it's that you won't get Event notices anymore as the listen key has expired.

So what happens is that you can create an order, but you won't be able to get an update on whether that order was filled/cancelled since the Listen Key is inactive

[2022-09-19 11:46] #5705 closed

[2022-09-19 11:55] KlaSun commented on #5713
The API keys used here were made less than a week ago, so that would not be the issue.

[2022-09-19 13:40] KlaSun commented on #5713
Yes, I am using a personal script, not a strategy

On Mon, 19 Sept 2022, 20:39 arnelhbot, ***@***.***> wrote:

[2022-09-19 14:43] cardosofede commented on #5713
@KlaSun Can you upload the script?

[2022-09-19 15:01] han-qiu commented on #5591
Oh.... I see. I'll try again. Thanks!

[2022-09-19 15:29] leastchaos commented on #5713
this line of code
`is_auth_required=True` is missing for the ping_listen_key.
![image](https://user-images.githubusercontent.com/64965782/191054007-7cd38bd3-8c44-419a-abf3-bee89536e41f.png)

I am also suspecting this is the actual root cause for the stuck cancel order also.
binance time out listen key every 60min and the key is not able to get refreshed due to this issue.
the listen_for_user_strea

[2022-09-20 01:09] leastchaos commented on #5076
I think I determined the actual root cause of the issue.
the latest pr does not fully solve the problem.
After 1 hour, the balance does not update in real-time, and orders are required to cancel 3 times in order to be actually canceled.

It is actually missing is_auth in the ping listen key.
after this fix, there are no more multiple cancel orders and the balance is back to real-time.
It was errat

[2022-09-20 01:20] rapcmia commented on #5714
Hi @delavegaOpengl Good day to you, I'm unable to reproduce this issue when using our helper scripts for docker installation and I'm also using Win11. I've followed the same steps provided on our [docs ](https://docs.hummingbot.org/installation/docker/)and installed it successfully, perhaps you can try to change the directory and try again? Thank you

![image](https://user-images.githubusercontent

[2022-09-20 01:43] cardosofede commented on #5076
I will review it tomorrow and get back to you.
However I think that are different issues, one is related to the process of
the events + order updates and the other one is related to the listen key.
The strange thing is that the QA team run a perp market making for 2 days
without issues.

On Tue, 20 Sep 2022 at 03:09 leastchaos ***@***.***> wrote:

[2022-09-20 02:03] leastchaos commented on #5076
Ok thanks.
Just some notes,
1. The balance, positions, and orders eventually match the exchange after some seconds.
2. Canceling orders also mostly happens 3 times in a row once it starts happening but it will also eventually cancel.
The data are always eventually consistent with exchange after some time but these are not updated in real-time which I think is due to the updates maintained by the r

[2022-09-20 03:59] nikspz opened #5717 "Amm arbitrage - Bot displays N/A for Total P&L at Bottom navigation bar after few trades"
amm arbitrage - Bot does not displays Total P&L at Bottom navigation bar after few trades (using AMM and live connector)

**Steps To Reproduce**
Create amm_arb strategy using amm and live connector (for example pangolin avalanche and binance)
start the strategy and trigger trades with `min_profitability -10`
review Bottom navigation bar for total P&L

Actual:
Bot displays N/A for total P&L

Expect

[2022-09-20 04:20] nikspz commented on #5715
Hi @preze93 could you please share your config and log files? this will really help us to triage

[2022-09-20 05:25] KlaSun commented on #5713
@cardosofede I'm unable to upload it here, here is a link: https://filebin.net/px5lbz6de42pchle

[2022-09-20 07:05] preze93 commented on #5715
Hi @nikspz
Here you go
[logs_XEMM_GMX_MEXC_UNI_ARBITRUM_20220912.log](https://github.com/hummingbot/hummingbot/files/9604912/logs_XEMM_GMX_MEXC_UNI_ARBITRUM_20220912.log)

[XEMM_GMX_MEXC_UNI_ARBITRUM_20220912.txt](https://github.com/hummingbot/hummingbot/files/9604922/XEMM_GMX_MEXC_UNI_ARBITRUM_20220912.txt)

[2022-09-20 07:16] #5680 closed

[2022-09-20 07:17] #5483 closed

[2022-09-20 07:43] KlaSun commented on #5713
Update:

@leastchaos is correct.
I added is_auth_required to the ping_listen_key in binance_perpetual_user_stream_data_source.py
After that it works fine and 30 minutes after launching, I got a successful refresh of the listen key

[2022-09-20 12:57] nikspz commented on #5715
@preze93
The issue seems to be that this pair do not have enough liquidity in uniswap.
![image](https://user-images.githubusercontent.com/83953535/191263133-ae54dfca-b102-45bc-8b80-95bb2d615075.png)

[2022-09-20 14:41] arnelhbot opened #5718 "Kucoin - Avellaneda Unexpected error while listening to user stream"
**Describe the bug**
While reviewing our testbot on `Dev1.8.0` using `Avellaneda` with `Kucoin`, we noticed that there was an instance where `Unexpected error while listening to user stream` has occurred and seemed to trigger `hummingbot_cli - Unhandled error in prompt_toolkit`

Note: _Upon reviewing of the logs and the client, this issue doesn't seem to impact the functionality of the bot. It was

[2022-09-20 15:57] preze93 commented on #5715
Hi @nikspz you are using the wrong smart contract. Perhaps it is a scam as I can see 2 GMX tokens on Uniswap Arbitrum
The official contract is 0xfc5a1a6eb076a2c7ad06ed22c90d7e710e35ad0a.
![image](https://user-images.githubusercontent.com/16908747/191306664-9fbd9ccf-7605-46b8-9954-5e0604c6d509.png)

GMX-USDC already had more than 1m$ traded in 24h
![image](https://user-images.githubusercontent.com/

[2022-09-20 16:22] cardosofede opened #5720 "Trading pairs property wrong in Paper Trade exchange"
**Describe the bug**
The property to access the trading pairs of the paper trade exchange is trading_pair and it should be trading_pairs as the rest of the connectors.
This is an issue because if you are writing a script and you want to test it in paper trade and then run live, the method will be different and you should change the property.

**Steps To Reproduce**
Run a script and access the trad

[2022-09-20 17:13] cardosofede commented on #5712
As we discussed in our meeting, this is not an issue but is the expected behavior. I think that we should vote to remove this exchange because the order book is empty and the service is unavailable frequently.

[2022-09-20 19:21] nikspz commented on #5715
Yep, could add it now, thanks.
![image](https://user-images.githubusercontent.com/83953535/191343488-74bd22c2-ce68-4919-b63e-cd5074d0d8d1.png)

We're currently working on the fix https://github.com/hummingbot/hummingbot/pull/5664 for arbitrum pairs using less decimals (USDC use 6), that's most likely related to your issue.

[2022-09-20 23:33] MementoRC commented on #5602
Proposed: https://github.com/hummingbot/hummingbot/pull/5723

[2022-09-20 23:33] MementoRC commented on #5700
Proposed: https://github.com/hummingbot/hummingbot/pull/5723

[2022-09-21 06:49] rapcmia commented on #5524
Fix has been applied on development branch

[2022-09-21 06:49] #5524 closed

[2022-09-21 07:01] JeremyKono commented on #5693
Assigning this PR to @vic-en. Thank you for your contribution!

[2022-09-21 07:01] JeremyKono commented on #5602
Assigning this issue to @MementoRC. Thank you for your contribution!

[2022-09-21 07:03] JeremyKono commented on #4962
Assigning this issue to @MementoRC. Thank you for your contribution!

[2022-09-21 07:03] JeremyKono commented on #5700
Assigning this issue to @MementoRC. Thank you for your contribution!

[2022-09-21 09:14] yahah1461 commented on #5660
Can you tell me exactly, how you did it? Having a hard time here

[2022-09-21 10:11] nikspz commented on #5654
Issue fixed on development 1.8.0 with https://github.com/hummingbot/hummingbot/pull/5686

[2022-09-21 12:17] nikspz commented on #5633
Fixed on development 1.8.0 with https://github.com/hummingbot/hummingbot/pull/5687

[2022-09-21 12:38] nikspz commented on #5476
Fixed with Fix/gate io wrong available balance #5679 https://github.com/hummingbot/hummingbot/pull/5679
Will create separate issue for delay in Total balance

[2022-09-21 13:00] nikspz commented on #5654
waiting for the hbot token to be released before closing the ticket

[2022-09-21 15:54] preze93 commented on #5715
Hi @nikspz thanks.  I don't think that should be the only issue. Not being able to see the correct balances on the wallet (WETH, GMX, USDC etc.) is also something to pay attention to as it appears that the connector is not pulling all the data from the wallet and then the strategy cannot deliver for lack of tokens as well

[2022-09-22 07:40] KlaSun opened #5725 "Ordertype.LIMIT_MAKER is creating market order"
For self.buy(), if I set order_type to OrderType.LIMIT_MAKER, it will send a market order. This is when trading on binance_perpetual, using the following code:
self.buy(
                    connector_name="binance_perpetual",
                    trading_pair='ETH-USDT',
                    amount=0.04
                    order_type=OrderType.LIMIT_MAKER,
                    price=buy_price,

[2022-09-22 15:51] ethereumnitrate commented on #5660
How are you running HB? My solution is good if you're running from source and compiling.

[2022-09-22 23:14] MementoRC commented on #5695
Proposed a PR:https://github.com/hummingbot/hummingbot/pull/5728

[2022-09-23 02:18] JeremyKono commented on #5695
Assigning this PR to @MementoRC. Thank you for your contribution!

[2022-09-24 09:39] guiguid commented on #5171
Hi, same issue 1.7.0 latest :
after count down to 0, it takes 5 at 15 minutes to start, filling logs with :
09:38:38 - avellaneda_market_making - Calculating volatility, estimating order book liquidity ... no trades tick

[2022-09-24 18:54] amitds1997 commented on #5725
`LIMIT_MAKER` orders are not supported by Binance Perpetual connector currently. If you look at the [source code](https://github.com/hummingbot/hummingbot/blob/f1115b480b306ab62adc39815f89f4c0577d4857/hummingbot/connector/derivative/binance_perpetual/binance_perpetual_derivative.py#L1239-L1259), you'll see that the `LIMIT` order type is set only for `OrderType.LIMIT` on [#L1247](https://github.com

[2022-09-24 20:13] MementoRC commented on #5676
Proposed a PR:https://github.com/hummingbot/hummingbot/pull/5729

[2022-09-24 22:44] MementoRC opened #5731 "Gateway not starting with development docker"
**Describe the bug**
The Gateway fails to start from a development docker

**Steps To Reproduce**
Here are the steps to reproduce the issue (see attachments in the section below):
1. `create.sh` -> choose 'development'
2. In HB: `gateway create`
...

**Screenshots**
![image](https://user-images.githubusercontent.com/93164135/192121091-c0123052-fda1-4071-b36d-715977536d4e.png)

**Release version**

[2022-09-25 15:25] MementoRC commented on #5718
Is this repeatable? or just a random occurrence?

[2022-09-25 19:52] han-qiu commented on #5591
I was able to reproduce now. Thanks

[2022-09-25 22:25] MementoRC commented on #5657
The gateway returns: 'available_networks': {'$ref': '$["connectors"][0]["available_networks"]'} for uniswapLP as a response to `/connectors`

[2022-09-25 23:36] MementoRC commented on #5657
Proposing to solve this issue with:
connectors.routes.ts:
            available_networks: JSON.parse(JSON.stringify(UniswapConfig.config.availableNetworks)),

[2022-09-26 04:52] austin-astrid opened #5739 "MEXC Sub-Account Support"
Feature Suggestion
Enable hummingbot to support MEXC sub account.

Impact
The desired behavior will allow me use different sub accounts under one main account to run different market making strategies.

**Additional context**
The log:
2022-09-26 04:47:46,686 - 1 - hummingbot.connector.exchange.mexc.mexc_websocket_adaptor - WARNING - WebSocket receive_json timeout ...

[2022-09-26 04:54] #5739 closed

[2022-09-26 05:02] austin-astrid opened #5740 "MEXC Sub-Account Connection Timeout"
**Describe the bug**
When using MEXC sub-account  api key and secret key to connect to mexc, the websocket connect always timeout.

**Steps To Reproduce**
Use MEXC sub-account api key and secret key to connect to mexc and then start pure-market-making strategy.

**Release version**
commit f1115b480b306ab62adc39815f89f4c0577d4857

[2022-09-26 16:01] MementoRC commented on #5657
Proposed a PR:https://github.com/hummingbot/hummingbot/pull/5741

[2022-09-26 22:10] MementoRC commented on #5731
The gateway created has the same image name: `hummingbot/gateway-v2:gateway-v2-master` but creates the following error when started manually
[code]

[2022-09-27 00:43] johna1203 commented on #5656
I also have the same problem with polygon-mainnet. Any updates?
<img width="661" alt="image" src="https://user-images.githubusercontent.com/2994674/192405582-65abc170-14e4-4b8e-a28f-426354c117df.png">

[2022-09-27 02:11] vdud opened #5743 "Automatic cancelling the take profit position"
Whenever there a position got filled, there is a limit order placed to take profits, but the problem is whenever the market moves, the market moves very quickly and the limit order places gets cancelled in few seconds and gets recreated at the same position, but when the price comes on that take profit level "for a nano second" the limit order gets cancelled before so it couldn't able to fill that

[2022-09-27 13:44] #5743 closed

[2022-09-27 13:46] vdud commented on #5743
Apparently im new to this software. I had it figured that it was supposed to be like that and there's one already one option to adjust the time. This is amazing software. Thank you for all your efforts.

[2022-09-27 16:23] preze93 commented on #5688
Hi @nikspz

I'm also getting a `amount is lower than the min order size` on XEMM using Bybit as my MAKER
Is this a bug in the connector?
Because the bot makes the bid order as you can see below. (it does not create the ask order because I do not have enough USDT on the TAKER side to do so

`2022-09-27 16:12:03,000 - 20376 - hummingbot.strategy.cross_exchange_market_making.cross_exchange_market_mak

[2022-09-27 17:23] preze93 commented on #5688
@nikspz update:
I removed the
          self.logger().info(f"The amount ({quantized_amount}) is lower than the min order "
                               f"size ({trading_rule.min_order_size})")

from bybit_exchange.py as a temporary fix to not spam the log file. Nonetheless something must wrong in the IF statement on this file

[2022-09-27 19:22] JeremyKono commented on #5676
Assigning this PR to @MementoRC. Thank you for the contribution!

[2022-09-27 21:56] cardosofede commented on #5725
@amitds1997 is right, you should propose the improvement to add the order type. If you want a quick fix, add OrderType.LIMIT_MAKER to the list on the file binance_perpetual_derivative.py, Line 197. It has to be like this:
<img width="568" alt="image" src="https://user-images.githubusercontent.com/36869960/192643200-943c6c33-af10-4eea-b022-24bef15b2715.png">

[2022-09-27 21:56] #5725 closed

[2022-09-27 22:40] MementoRC commented on #5578
This does not seem to be a bug (unless already fixed). See the steps below:
Start docker GW
Start docker HB with the binding of user's defined instance directory to `/home/hummingbot/.hummingbot-gateway/certs/`
`    --mount "type=bind,source=$CERTS_FOLDER,destination=/home/hummingbot/.hummingbot-gateway/certs/" \`
Wrote a file in that directory from inside the docker HB
Observed the file created i

[2022-09-28 06:17] #5714 closed

[2022-09-28 16:46] keithbaum commented on #5713
Confirm I had the same issue, and after adding is_auth_required=True it started working without issues

[2022-09-28 19:01] nikspz commented on #5068
Reproduced on dev-1.8.0

[2022-09-28 19:09] nikspz commented on #5287
Reproduced on dev-1.8.0
Bot not showing rate oracle for the same pairs on taker and maker exchanges

Also we have this issue using different pairs https://github.com/hummingbot/hummingbot/issues/5068

[2022-09-28 19:25] nikspz commented on #5284
Fixed on development 1.8.0

Tested using huobi-ftx and also few trades on gate.io-ascendex
![image](https://user-images.githubusercontent.com/83953535/192869126-ac4c088d-8384-407f-8fea-1d6b89eb23f0.png)

[2022-09-29 03:51] rapcmia commented on #5731
Hi @MementoRC good day to you, could you possibly try again our development branch and run the same steps how you encounter the issue? let us know if this works for you know since we updated the init.py back to `gateway-v2-dev` thanks

[2022-09-29 04:52] pulkitsharma commented on #5556
I am affected with this as well. Any workaround till this gets fixed?

[2022-09-29 05:30] nikspz commented on #5556
@pulkitsharma Could you please tell the version of the bot and sent your config file/screenshot?

[2022-09-29 06:00] pulkitsharma commented on #5556
@nikspz running version dev-1.8.0
<img width="484" alt="Screenshot 2022-09-29 at 11 29 46 AM" src="https://user-images.githubusercontent.com/2555898/192951156-347bc63f-41ff-42e9-9b31-3a349b80e60e.png">

[2022-09-29 16:38] vdud opened #5752 "Order levels with bollinger bands deviation"
Is there any way we can train the software to adjust the order spread levels accordingly to bollinger bands deviation?

[2022-09-29 16:54] vdud commented on #5752
Meaning when there's a compression in bollinger bands the spread automatically expand.
Or simply we can adjust the spread between increments of few orders that would be also perfect

[2022-09-29 16:56] vdud commented on #5752
Something like this;

- Order
- Order
- Gap
- Gap
- Order
- Order
- Original order
- Mid price
- And so on

[2022-09-30 02:42] rapcmia commented on #5505
hi @abduramann good day to you, a fix has been deployed on development branch and upcoming version 1.8.0 We would want to know if you could have a look with it on the development branch and see if this is working ok now? Thank you

[2022-09-30 02:52] rapcmia commented on #5076
Fixed on development branch but there are noticeable issues found which will be fix on another PR. Thank you

[2022-09-30 02:52] #5076 closed

[2022-09-30 04:15] vdud commented on #5752
Or training could be camarilla pivots. To have spread expand and compress.

[2022-09-30 04:20] rapcmia commented on #5476
Fix for available balance issue has been deployed on development and upcoming version 1.8.0

[2022-09-30 04:20] #5476 closed

[2022-09-30 04:52] nikspz opened #5756 "Gate.io - Delay updating Total balance"
gate.io has delay when updating total balance after the trade happened

**Steps To Reproduce**

1. Create a pureMM strategy using gate.io
2. set up a tight spread to get a trade
3. start the strategy, run `status --live` and wait for a order filled
4. pay attention to total balance

Actual:
There's ~20-30sec delay updating total balance

Expected:
Total balance updating after it changed without de

[2022-09-30 05:15] rapcmia commented on #5615
Reviewed again and decided to close the ticket, workaround to fix the issue has been provided on set of the error.

[2022-09-30 05:15] #5615 closed

[2022-09-30 05:28] rapcmia commented on #5631
Hi @1163849662 a fix has been submitted for this issue and related to https://github.com/hummingbot/hummingbot/issues/5713, we will be tagged this as closed for now and you can check the ticket for updates

[2022-09-30 05:28] #5631 closed

[2022-09-30 05:28] rapcmia commented on #5026
Coinflex connector has been added

[2022-09-30 05:28] #5026 closed

[2022-09-30 05:29] rapcmia commented on #5025
Bitmex spot connector has been added

[2022-09-30 05:29] #5025 closed

[2022-09-30 05:29] rapcmia commented on #4338
Bybit spot connector has been added

[2022-09-30 05:29] #4338 closed

[2022-09-30 05:31] rapcmia commented on #3662
Bitmex perpetual connector has been added

[2022-09-30 05:31] #3662 closed

[2022-09-30 05:45] rapcmia commented on #5491
Hi @abduramann inline with the previous comment, our community devs have added a fix for this issue. Would it be possible for you to confirm if this is still an ongoing issue? Thank you

[2022-09-30 06:05] rapcmia commented on #5287
Closing ticket, XEMM has been redesigned since the deployment of Pydantic to Hummingbot client. A new approach using `conversion_rate_mode` has been added to improve UX

[2022-09-30 06:05] #5287 closed

[2022-09-30 07:28] arnelhbot opened #5758 "Client - fast order refresh and stopping bot causes failed to cancel order"
**Describe the bug**
Upon testing on Dev1.9.0 with `Cross exchange market making` strategy set for `passive order refresh` with certified connectors for both `maker` and `taker`, It was observed that a `Failed to cancel the following orders on (certified connector):`  would happen when there are orders created and the bot is stopped.

Tested with: `Binance`, `Kucoin`, `Ascendex`, `Gateio`, `FTX`,

[2022-09-30 07:30] #5433 closed

[2022-09-30 12:20] rapcmia commented on #5656
Severity: P2
Bounty: 50,000 (https://hummingbot.org/maintenance/bugs/)
Rationale: Bug related to Gateway-v2 Uniswap on polygon and ethereum mainnet

[2022-09-30 12:21] rapcmia commented on #5617
Severity: P3
Bounty: 10,000 (https://hummingbot.org/maintenance/bugs/)
Rationale: Bug related to component

[2022-09-30 12:26] rapcmia commented on #4283
Severity: P3
Bounty: 10,000 (https://hummingbot.org/maintenance/bugs/)
Rationale: Bug related to component

[2022-09-30 12:27] rapcmia commented on #5601
Severity: P3
Bounty: 10,000 (https://hummingbot.org/maintenance/bugs/)
Rationale: Bug related to component

[2022-09-30 12:29] rapcmia commented on #4957
Severity: P2
Bounty: 50,000 (https://hummingbot.org/maintenance/bugs/)
Rationale: Bug related to component on Liquidity Mining strategy

[2022-09-30 14:08] sisco0 commented on #4957
What would be the desired output that you would like to see in this field taking into account the shared data?
Would it be a quantity expressed in AVAX or in USD?

[2022-09-30 15:01] nikspz commented on #5068
![image](https://user-images.githubusercontent.com/83953535/193298432-85747a94-ccb5-4cf2-b489-2220ae2ac5dd.png)
Steps to reproduce:
Create a XEMM strategy using different pairs (BTC-USDT and ETH-USDT)
Set up `conversion_rate_mode` to `rate_oracle_conversion_rate`
Start the bot and look at the log pane

Actual:
Bot using price of one base asset when create another base asset orders (Uses ETH price

[2022-10-01 01:49] ethicrypt commented on #4283
I would like to be assigned this bounty, I do a lot of work with pure market making with multiple order levels + hanging orders.

[2022-10-01 02:12] ethicrypt commented on #5601
I would like to be assigned to this bug bounty.

[2022-10-02 14:49] MementoRC commented on #5656
@arnelhbot @johna1203 @toxicehc Have you checked that all token are 'Approved' to trade? Someone in discord is saying that after approving one of the missing token the warning disappeared:
https://discord.com/channels/530578568154054663/563462222878212098/1026027452536983552

[2022-10-03 06:26] #5718 closed

[2022-10-03 11:11] JeremyKono commented on #5601
Assigning this issue to @ethicrypt. thank you for your contribution!

[2022-10-03 11:11] JeremyKono commented on #4283
Assigning this issue to @ethicrypt. thank you for your contribution!

[2022-10-03 16:54] MementoRC commented on #5731
@rapcmia The steps above are working as expected in `dev-1.9.0` - The issue is resolved. It looks like the gateway logs are still not getting mounted, or maybe I am reading this incorrectly:
[code]

[2022-10-03 16:54] #5731 closed

[2022-10-03 20:02] MementoRC commented on #5578
@rapcmia @han-qiu Any update on the answer above?

[2022-10-03 22:27] cardosofede commented on #4283
This is not an issue, is the expected behavior. If one order gets filled you only want to leave hanging the opposite order, not all of them. So when the price recovers, you will complete a "cycle" and you will have your inventory balanced and the profit of the spread between the ask and bid.

[2022-10-03 22:27] #4283 closed

[2022-10-04 05:51] rapcmia commented on #5491
Fix has been deployed on Hummingbot version 1.8.0

[2022-10-04 05:51] #5491 closed

[2022-10-04 06:17] rapcmia commented on #5453
Fix has been already deployed to latest hummingbot version

[2022-10-04 06:17] #5453 closed

[2022-10-04 08:05] rapcmia commented on #5171
Hi @nacr @guiguid thanks for your comments. I tried again and still managed to run the strategy and start creating/canceling orders. Would it be possible if you can attach your config files here so I can use them as a reference to investigate further? Thank you!

[2022-10-04 09:01] nikspz opened #5771 "Huobi - Failed to start Avellaneda MM strategy: stuck into Calculating volatility… no trades tick"
Huobi - Avellaneda Market Making strategy stuck into Calculating volatility… no trades tick. Did not strated to place orders

**Steps To Reproduce**
create/start avellaneda_market_making strategy using Huobi

Actual:
After Bot stuck into `Calculating volatility, estimating order book liquidity ... no trades tick`

Expected:
Bot start placing orders after volatility calculation

[logs_conf_avellane

[2022-10-04 11:00] abduramann commented on #5491
Confirmed. They are the same as the ones in my fork. Thanks.

[2022-10-04 12:09] keithbaum commented on #5713
yes, confirm no more errors like this for a 24/7 running bot so far

[2022-10-04 13:16] #5713 closed

[2022-10-04 16:29] ethicrypt commented on #4283
I agree with the assessment that this is not and issue and is, indeed, expected behavior.

[2022-10-04 17:20] pulkitsharma commented on #5556
Does not fail in 1 hour if you have high ram. Keep it running for a few hours. You will see memory usage going up until it fails with low memory most probably.

[2022-10-04 17:29] nikspz commented on #5556
@pulkitsharma Could you also tell your installation type (Mac/Ubuntu, Docker/Source etc.)?
Bot also has some system requirements, depending on your\your cloud machine type.

[2022-10-04 17:36] MementoRC commented on #5700
@JeremyKono Sorry for the mess, but I am not able to solve this issue, would you mind setting it to open again. I'll be more careful in the future to avoid this type of situations

[2022-10-04 17:49] pulkitsharma commented on #5556
I am using t2.large so 8gb+2vcpu with Ubuntu 20. I did not track after how many days the bot got killed. Twice it happened. But I know it increased over 1gb which is definitely a problem.

[2022-10-04 17:53] nikspz commented on #5556
@pulkitsharma Thank you so much for the info, that help us investigate.
Do you run multiple bots when it happened?

[2022-10-04 17:55] pulkitsharma commented on #5556
I do run 2-3 other binance spot bots too. But they never go above 100mb each.

[2022-10-04 19:34] cardosofede commented on #5074
I had the same issue last week, I forgot to create the issue. Nice one @leastchaos

[2022-10-04 19:35] cardosofede commented on #5074
I think that we need to use the Hummingbot convention to name the positions BASE-QUOTE.

[2022-10-05 06:27] #4979 closed

[2022-10-05 12:40] toxicehc opened #5777 "MEXC Subaccount Connection Experiences Intermittant Connection Timeout and cancels all trades"
When using the grid strategy on MEXC with a sub account I am experiencing intermittant timeout's which result in all trades being cancelled.

Connect API to MEXC Sub Account
Create fixed grid strategy.
Start bot
Bot creates trades and runs normally then intermittantly stops, cancels all trades and gives the message
'07:57:20 - mexc_exchange - Order sell-xxxx has been canceled according to order de

[2022-10-05 12:54] tomnewbi commented on #5276
Hi,
I have the same problem.
Running latest release - version 1.8
someone has found a solution ?

[2022-10-05 13:14] JeremyKono commented on #5700
Thank you @MementoRC, we will put this in open again.

[2022-10-05 13:35] unclecharliecrypto commented on #5656
This waiting for allowances is a real problem. Solved it on TraderJoe but Uniswap AMM-ARB is still in standstill.

[2022-10-05 20:08] #5593 closed

[2022-10-05 20:14] nikspz commented on #5596
When using only `one` bot with `Hedge strategy` with `binance/binance_perpetual` got `Unexpected error when listening order book streams`/ `Unexpected error when processing public trades from exchange`
Not related to running it simultaneously with AvellanedaMM.

![image](https://user-images.githubusercontent.com/83953535/194154109-80c4a185-aba6-4179-9b47-f56a2c6fadc5.png)

[2022-10-05 21:14] hlian188 opened #5779 "Filled order delay only works if both sides of multi-level order book filled"
**Describe the bug**
Filled order delay only works if all non-hanging levels of order book are filled for avellaneda market making strategy. I would expect the delay to occur after every fill of a non-hanging order. If this is not possible, please make this an optional parameter at least.

**Steps To Reproduce**
I've attached my config file. All I did was import and run the strat
...

**Release ve

[2022-10-06 07:15] nikspz commented on #5473
Should be fixed with #5600

[2022-10-07 03:58] rapcmia commented on #5578
Hi @MementoRC thanks for your comment and apologies on the late reply,
Normally if there is a assigned community-dev to work on the issue and confirm its `not a bug or expected behavior` based on his investigation it would be tagged as `wontfix` and still be granted the bounty.

Based on your comment, looks like you did put time to look into it thats why I'd like to discuss it with our team. Pleas

[2022-10-07 05:30] rapcmia commented on #3849
Hi @bsmeaton good day,
There have been changes on Cross-Exchange MM on past Hummingbot release with addition of `slippage buffer` to its current configuration. We would like to know if this is still an ongoing issue for you? Thank you

[2022-10-07 06:03] nikspz commented on #5771
tried different pairs, got same behavior for ETH-USDT, AVAX-USDT, ADA-USDT
also tried to change the config (play with risk_factor, volatility_buffer_size and trading_intensity_buffer size) - got the same behavior (stuck into `no trades tick`)

Matej mentioned that there cloud be a problem with `Huobi not receiving trades data.`

![image](https://user-images.githubusercontent.com/83953535/194478310

[2022-10-07 06:13] bsmeaton commented on #3849
Hi

The completion of taker trades on the strategy is still fairly unreliable
with frequent manual balancing (A few times a week, required)

Kind regards

Ben

On Fri, 7 Oct 2022 at 09:30, rapcmia ***@***.***> wrote:

[2022-10-07 07:02] rapcmia commented on #5394
Hi @rxlxrxsx @gerald-hb good day,
It seems to be the set "source" on your `rate_oracle_source` parameter does not have prices nor support the markets you are using thats why the error occurred.

Tested LIME-USDT on gate_io and setting up my rate_oracle_source to ascendex then wait for an order to be filled, I dont noticed the issue happened. In line with the results, We would suggest to make sure

[2022-10-07 07:02] #5394 closed

[2022-10-07 07:36] rapcmia commented on #5588
Hi @supervik good day
We happen to have a discussion about this ticket and our team will have plans to support `OrderType.MARKET` to connectors on future releases. While this is confirmed to be expected, we are still working on improving Cross-Exchange-MM.

Closing this ticket for now. Thank you

[2022-10-07 07:36] #5588 closed

[2022-10-07 11:49] rapcmia commented on #5068
Severity: P2
Bounty: 50,000 (https://hummingbot.org/maintenance/bugs/)
Rationale: Bug related to Cross-exchange market making component

[2022-10-07 11:51] rapcmia commented on #4428
Severity: P3
Bounty: 10,000 (https://hummingbot.org/maintenance/bugs/)
Rationale: Bug related to component for Pure market making

[2022-10-07 11:52] rapcmia commented on #5190
Severity: P3
Bounty: 10,000 (https://hummingbot.org/maintenance/bugs/)
Rationale: Bug related to component on Avellaneda strategy

[2022-10-07 11:53] rapcmia commented on #5771
Severity: P3
Bounty: 10,000 (https://hummingbot.org/maintenance/bugs/)
Rationale: Bug related to certified connector Houbi

[2022-10-07 11:55] rapcmia commented on #5074
Severity: P3
Bounty: 10,000 (https://hummingbot.org/maintenance/bugs/)
Rationale: Bug related on certified connector, Binance perpetuals

[2022-10-07 21:28] MementoRC commented on #4428
Looking at the code, this is the logic implemented, the `restore` option for `start` prevents the cancellation of existing orders on the exchange. If started without this option, the bot would cancel those orders

[2022-10-08 15:43] mss7082 commented on #5771
https://github.com/hummingbot/hummingbot/blob/433df629f3a486a1b6e83bfd8a19493ba20e7e85/hummingbot/strategy/avellaneda_market_making/avellaneda_market_making.pyx#L641

Why is this labelled as P3? Avellaneda strategy isn't functional at all. Not working for Huobi, FTX and even binance_papertrade. This is rendering Avellaneda strategy useless in hummingbot.

[2022-10-09 09:56] delavegaOpengl commented on #5771
I got the same problem on FTX but working on binance paper trade but only on BTC/USDT pair

[2022-10-09 17:10] kadirc commented on #5068
![image](https://user-images.githubusercontent.com/105316681/194768856-f6c1674e-8e97-4e89-a471-4e5cbe0d3720.png)

The problem is that strategy starts before the rate oracle is available, and if the rate oracle is not available, 1.0 is used as the conversion rate.

For example in @nikspz 's screenshot; since rate oracle is not available, taker to maker base conversion (ETH-BTC) rate is taken as 1.0

[2022-10-09 21:59] nikspz commented on #5771
Tried to retest using FTX, It takes some time for bot to start trading. (Also should have sufficient balance (Base and Quote))

Some exchanges needs a lot of time to finally calculate volatility (because of no trades happened)

![image](https://user-images.githubusercontent.com/83953535/194781229-38290eec-845b-4cb9-a57e-0c48f6a8505a.png)

Avellaneda works (Bot place orders) for: Binance, ascendex,

[2022-10-10 01:51] keithbaum commented on #5771
This is related with TradingIntensity kappa not converging. Would recommend to enlarge trading intensity buffer if after several minutes it still doesn't start trading

[2022-10-10 06:49] rapcmia commented on #5771
Hi @mss7082 @delavegaOpengl thanks for your comments, please be advised that there is a separate ticket related to Avellaneda no trades tick issue which can be found here on https://github.com/hummingbot/hummingbot/issues/5171, we have tried to check this with other connectors in which we found that Huobi is most not working for the strategy atm.

Hi @keithbaum we have tried to set the buffer for

[2022-10-10 07:59] rapcmia commented on #5700
Bounty reopened:

[2022-10-10 10:19] unclecharliecrypto commented on #5656
Solved "waiting for allowances" on traderjoe/avalanche & defikingdoms/harmony mainnet.

For defikingdoms for example I have ONE, WONE & USDT *balances* on app.sushi.com/account-metamask connected.
After playing "swap pingpong" on the sushi site - swapping small balances of ONE into WONE, WONE into USDT, USDT into WONE - each prompting metamask to ask for approval - later gave the greenlight to sta

[2022-10-10 10:31] delavegaOpengl commented on #5771
Thank you @rapcmia for the info. We tried to enlarge both buffer size but with no luck.
We tried BTC-USD and BTC-USDT pairs on FTX. The same strategy is working on binance paper trade.

[2022-10-10 11:26] delavegaOpengl commented on #5771
I can confirm that after sometimes both the pair BTC/USD and BTC/USDT are working on FTX.

[2022-10-10 11:28] toxicehc commented on #5656
I will give it a try thanks

[2022-10-10 14:39] Faouzijedidi1 opened #5784 "Certificate path becomes configurable"
**Feature Suggestion**

The certs used to connect to the gateway are now fixed on the client side. Because they certs are fixed, multiple clients cannot connect to one gateway. The client now can only connect to the gateway that uses the certs it generates.

To change this, we need to make the path for the certs used by the client a configurable one.
- Path become part of the client global conf.
-

[2022-10-10 14:45] Faouzijedidi1 opened #5785 "Change Log and config file location for Docker install to hummingbot_files"
**Feature Suggestion**

Currently the log and config file location for the docker install of gateway sits in the `.hummingbot-gateway/`. To make all the files from the docker install in a central location, We suggest changing the log and config location for Docker install to hummingbot_files.

**Impact**
- This serves to centralize the location for all the files from the docker install.
- This wil

[2022-10-10 14:48] Faouzijedidi1 opened #5786 "Remove unhelpful warning message form status"
**Feature Suggestion**
A lot of unhelpful and unorganized warning messages are being displayed when running `status` during the use of a strategy. The suggestion is to remove the warning messages from the status and leave them in the log files and client logs.

**Impact**
- Warning message will be removed from the `status` command.

**Additional context**
Add any other context or screenshots about

[2022-10-10 15:08] cardosofede opened #5787 "Add FTX Perpetuals to the codebase"
The rationale behind this enhancement was discussed in this forum thread: https://forum.hummingbot.org/t/hip-cex-connectors-revamp/212

[2022-10-10 15:09] cardosofede opened #5788 "Add Gate.io Perpetuals to the codebase"
The rationale behind this enhancement was discussed in this forum thread: https://forum.hummingbot.org/t/hip-cex-connectors-revamp/212

[2022-10-10 15:26] cardosofede commented on #5779
can you provide a log file?
the code seems ok:
![image](https://user-images.githubusercontent.com/36869960/194901635-4ae84d4b-9ec4-420d-b241-7bfc2ac5712e.png)

[2022-10-10 16:48] vic-en commented on #5656
@arnelhbot I see the reason approval was failing in your case is because you do not have enough ETH on Ethereum mainnet - https://etherscan.io/address/0x08940dc9B5a19FAb9319b77C61DDA7B8067E6843

[2022-10-10 16:58] vic-en commented on #5656
@toxicehc The reason approval is failing in your case is because the default token list(https://raw.githubusercontent.com/SetProtocol/uniswap-tokenlist/main/set.polygon.tokenlist.json) for polygon main doesn't have either ZKP or USDT tokens. You probably want to use a token list file in the meantime before foundation replaces with a more concise list in the next release.

[2022-10-10 17:32] MementoRC commented on #5068
@kadirc I amended this PR:https://github.com/hummingbot/hummingbot/pull/5728 to encompass your proposal above

[2022-10-10 19:17] kadirc commented on #5068
@MementoRC thanks, I left a review on the PR.

[2022-10-10 20:19] MementoRC commented on #5068
@kadirc, Thanks ... and cool, I am not using XEMM myself and did not know you had a new proposal. I would rather step off and let you define the solution you think works best for the users.
Will you make a PR? What do you think about the other "issues" that I thought were present?

[2022-10-11 11:03] preze93 commented on #5551
@MementoRC was this issue already merged? I'm still getting this error on HBOT

[2022-10-11 15:15] cardosofede opened #5791 "Upgrade Bybit Spot to v2.1"
The rationale behind this enhancement was discussed in this forum thread: https://forum.hummingbot.org/t/hip-cex-connectors-revamp/212

[2022-10-11 15:16] cardosofede opened #5792 "Upgrade Ascendex Spot to v2.1"
The rationale behind this enhancement was discussed in this forum thread: https://forum.hummingbot.org/t/hip-cex-connectors-revamp/212

[2022-10-11 15:17] cardosofede opened #5793 "Upgrade Huobi Spot to v2.1"
The rationale behind this enhancement was discussed in this forum thread: https://forum.hummingbot.org/t/hip-cex-connectors-revamp/212

[2022-10-11 15:17] cardosofede opened #5794 "Upgrade HitBTC to v2.1"
The rationale behind this enhancement was discussed in this forum thread: https://forum.hummingbot.org/t/hip-cex-connectors-revamp/212

[2022-10-11 15:17] cardosofede opened #5795 "Upgrade Binance Perpetuals to v2.1"
The rationale behind this enhancement was discussed in this forum thread: https://forum.hummingbot.org/t/hip-cex-connectors-revamp/212

[2022-10-11 15:18] cardosofede opened #5796 "Add Kucoin Perpetuals to the codebase"
The rationale behind this enhancement was discussed in this forum thread: https://forum.hummingbot.org/t/hip-cex-connectors-revamp/212

[2022-10-11 16:08] MementoRC commented on #5551
@preze93 Not yet, it is still opened. I think the team priority is on the Certified Exchanges. You could attempt a source install, implement the change (simply adding a few lines - see the changes) and re-build the docker image

[2022-10-11 20:48] MementoRC commented on #5700
@cardosofede , @rapcmia , @JeremyKono At the risk of appearing to be a nutcase, I would venture to propose that the "fix" for these (several certified connectors are affected, it also happens with Bybit) could be to modify the handling of this connection loss and simply let the `bybit_api_user_stream_data_source` reconnect, basically changing the ERROR into a WARNING - Would that work?

[2022-10-11 21:31] MementoRC commented on #5617
@rapcmia This does no longer seem to be the case:

![Image](https://user-images.githubusercontent.com/93164135/195202313-0815a7c1-39f8-4716-b2b9-efcbda6758e0.png)

[2022-10-11 22:35] nikspz commented on #5779
on development 1.9.0
using config similar to user's config
bot didn't wait for filled order delay

log and config files:
[issue5779.zip](https://github.com/hummingbot/hummingbot/files/9760111/issue5779.zip)
[logs_issue5779.log](https://github.com/hummingbot/hummingbot/files/9760113/logs_issue5779.log)

![issue5779 hanging order multiple levels2](https://user-images.githubusercontent.com/83953535/1

[2022-10-12 04:41] ethicrypt commented on #5796
I would like to be assigned this ticket, I was previously researching how to do this in Hummingbot and have worked with the KuCoin perpetuals API quite a bit.

[2022-10-12 05:55] rapcmia commented on #5779
Hi @hlian188 good day to you.
Please be advised that the current behavior that you have observed is the expected behavior for `filled_order_delay` parameter. It would not worked for multiple order filled events atm but instead you can create a thread on our [Hummingbot forum](https://forum.hummingbot.org/) so our community can have a look with your idea and create an [feature request ticket ](http

[2022-10-12 05:55] #5779 closed

[2022-10-12 10:21] arnelhbot opened #5797 "Gateway - Uniswap Mainnet stuck on Innitiating approval"
**Describe the bug**
Upon testing Source Gateway, we noticed when using `Uniswap Ethereum Mainnet` on both `Ankr` and `Infura` `nodeURL`. When the strategy is started, it will display that it is `Innitiating approval for` `WETH` or `USDC` then soon after it will display
`Call to https://localhost:19408/evm/approve failed.`then its followed by `Error submitting approval order for USDC on uniswap-ma

[2022-10-12 20:16] rawoke083 commented on #5196
Still the same issues ? No update or workarounds ?

[2022-10-12 22:35] definevalue commented on #5796
Where do I claim this bounty ?

[2022-10-12 22:37] cardosofede commented on #5796
as @ethicrypt asked first, this connector will be assigned to him

[2022-10-12 23:07] litepresence commented on #5793
I am interested in these 4 spot Connector upgrades to v2.1; I would like to do them as a group:

issues [5791](https://github.com/hummingbot/hummingbot/issues/5791), [5792](https://github.com/hummingbot/hummingbot/issues/5792), [5793](https://github.com/hummingbot/hummingbot/issues/5793), [5794](https://github.com/hummingbot/hummingbot/issues/5794):

ByBit
Ascendex
Huobi
HitBTC

I am familiar with

[2022-10-12 23:28] drewUCL commented on #5793
Also interested in all connectors - how do schedule an interview? No discord.

I have worked at the top HFT firms in the world and been doing ultra low latency crypto trading (spot and futures) over the past 5 years. Expert low latency C++, Java, and Python developer.

[2022-10-13 03:26] JeremyKono commented on #5794
Assigning this issue to @cmichaeltimmons. Thank you for your contribution!

[2022-10-13 04:31] huatahhhhh opened #5800 "Okx exchange GET trade fills"
**Describe the bug**

I was running a xemm strategy with 2 trading pairs on okx exchange and noticed order fills not being updated. When my maker trades got filled, it was not being updated in the order tracker and hence no taker orders being submitted. This led to an accumulation of maker trades without any hedging on the taker side. Which led to a skew in my inventory and failure of strategy exe

[2022-10-13 05:24] yancong001 commented on #5788
I would like to be assigned this ticket

[2022-10-13 05:55] HODLER-CODING commented on #5795
Hey can this be assigned to me?
I'm an engineer who has been working in the industry for 5 years and strong in python coding.
Can talk more about it on discord if you want.

[2022-10-13 07:12] yancong001 commented on #5795
I would like to be assigned this ticket

[2022-10-13 07:13] JeremyKono commented on #5795
@HODLER-CODING, you have been assigned to this issue. Thank you for your contribution.

[2022-10-13 07:13] yancong001 commented on #5791
I would like to be assigned this ticket

[2022-10-13 09:04] nikspz commented on #5800
Hi @huatahhhhh Could you please tell your machinetype (AWS/local) OS and installation type (Source/Docker)?
 Could you please also send your config and log files? it could help a lot to triage the issue.

 I tried to reproduce using AVAX-USDT Pair, but can't reproduce the issue
![image](https://user-images.githubusercontent.com/83953535/195552772-c947cece-231f-4532-8884-5476da7afd9d.png)

[2022-10-13 14:36] billythedummy opened #5801 "binance_perpetual_derivative connector: bot continues running without closing existing position after HTTP 503"
**Describe the bug**
While running the `spot_perpetual_arbitrage` strategy with the `binance_perpetual` connector, i was unfortunate enough to run into a HTTP 503 error from binance for a trade that was meant to close the arb. This resulted in the perp position not being closed. However, the bot seemed to have continued running. Not sure if this is expected behavior.

**Steps To Reproduce**
Have t

[2022-10-14 03:57] rapcmia commented on #5617
Hi @MementoRC yes correct it was observed not happening for other strategies which I assume on the screenshot is Pure market-making.

[2022-10-14 08:10] JeremyKono commented on #5788
Assigning this issue to @yancong001. Thank you for your contribution!

[2022-10-14 08:48] cmichaeltimmons commented on #5792
Can you assign this one to me and remove me from https://github.com/hummingbot/hummingbot/issues/5794.   I cannot create an api key with Hitbtc without kycing and their sandbox environment is currently down.

[2022-10-14 15:30] huatahhhhh commented on #5800
@nikspz Do follow the steps to reproduce and add the logging statements in the code.

[2022-10-14 15:49] MementoRC commented on #5617
@rapcmia got it, it's for the non-`ConfigMap` strategies, i should have guessed it when observing the non-issue. I can continue to look into it then

[2022-10-14 16:15] MementoRC opened #5804 "Exception when starting HB with gateway certificates not found"
**Describe the bug**
An exception is called upon starting latest HB dev-1.9.0 related to the gateway - This does not seem to hamper using HB with DEX

**Steps To Reproduce**
Start the bot and observe the log:
[code]

Here are the steps to reproduce the issue (see attachments in the section below):
1. Start the bot using this command: `./bin/hummingbot_quickstart.py -p xxx`
...

**Screenshots**
![i

[2022-10-14 21:31] MementoRC opened #5805 "Coin Gecko oracle constantly hits rate limits"
**Describe the bug**
The Coin Gecko oracle systematically hits the rate limit for the `markets` API method

**Steps To Reproduce**
Set the rate_oracle_source to coin_gecko
Run a strategy (tested with liquidity_minig)
Observe the API limit warning every 30s

**Screenshots**
![image](https://user-images.githubusercontent.com/93164135/195947000-520d2b4c-f87e-4ea7-a5db-2cc9ce4bb7b8.png)

**Release ver

[2022-10-14 23:26] MementoRC opened #5806 "Coin Gecko API not conforming to API for markets"
**Describe the bug**
The Coin Gecko API seems to have an undocumented specification (not found yet) in which when a `category` is specified, the API method only returns 50 entries per page, instead of the 250 advertized

**Steps To Reproduce**
Set the rate_oracle_source to coin_gecko
Run a strategy with debug logging the number of entries per categories
Observe the API response length

**Screensho

[2022-10-15 08:11] SergejGorev commented on #5654
I have a followup issue, which is related to this directly. However, exact cause i don´t know.

I am getting this warning, and then container terminates.

Log output:
[code]

[2022-10-16 16:16] Spike-77 commented on #3302
I have run balance and verified that I have both sides of the trade.  I am running hummingbot in a live trading session on binance US.

The inventory price and price_type = inventory_cost does not seemed to be resolved in 1.8.0 version of hummingbot.  If you place the inventory_price on the same line as during a config the inventory_price can be set otherwise you will be bounce back to the standar

[2022-10-16 16:29] Spike-77 commented on #3302
If you try and change inventory_price you will not get prompts afterward and get sent right back to the initial prompt.

![Inventory_price_problem](https://user-images.githubusercontent.com/104741848/196046838-f517501a-9f42-4b74-88f9-ddbf731a2a06.png)

The only way to set inventory_price is to set it inline.
config inventory_price "Your Price"

![Inventory_price](https://user-images.githubusercont

[2022-10-16 17:32] mss7082 commented on #3302
I have the same  isssue. However instead of the api limit. I get this error on FTX. Even though inventory_cost in set.

"RuntimeError: Initial inventory price is not set while inventory_cost feature is active.
2022-10-16 14:45:51,905 - 1 - hummingbot.core.clock - ERROR - Unexpected error running clock tick."

![image](https://user-images.githubusercontent.com/6820077/196049556-80f4790e-6e67-40b7-8

[2022-10-16 18:24] mss7082 commented on #3302
Wierd, started a new pmm strategy and set inventory_price to 0. and that seems to make it work. Strange.

![image](https://user-images.githubusercontent.com/6820077/196051716-5245f49d-111e-4e0b-8ac8-e6f0c94bc35a.png)

![image](https://user-images.githubusercontent.com/6820077/196051730-a5137b01-6936-42cd-ad66-d6724f125111.png)

[2022-10-16 19:55] Spike-77 commented on #3302
The above solution did not work on Binance US.  There is an issue with setting the inventory_price for BTC/USD pair and maybe other pairs on Binance US.

[2022-10-16 21:44] luky1984 opened #5808 "Binance connector not working with Hummingbird from the Source (Ubuntu)"
**Describe the bug**
I've installed the Hummingbird from the source, then when i try to use binance_paper_trade trading connector it doesn't work. Hummingbird from the docker works.

Note: source was installed via the "scripts" that means the following commands, although the manual version is same i guess, but i just want to say that it clones the default repository from "https://github.com/hummin

[2022-10-17 02:07] rapcmia commented on #5617
Hi @MementoRC, good day
Thanks for your time, yes that's correct it would be better if the expected behavior is the same as for the other strategies therefore the 2nd option is ok :grin:

[2022-10-17 03:43] rapcmia commented on #5804
Hi @MementoRC good day to you,
We tried to replicate this issue but can't reproduce atm using the development branch commit `539a1a61706f3..` using the steps to reproduce. Please see the screen recording below:

Ran `/bin/hummingbot_quickstart.py -p xxx` or `python3 bin/hummingbot_quickstart.py -p password`

https://user-images.githubusercontent.com/73840223/196084406-36bbe4cc-acea-4c43-808f-44a3c

[2022-10-17 06:26] rapcmia commented on #5808
Hi @luky1984 good day,
Tried to use the installation script for `Ubuntu 20.04` and not getting the error reported on this ticket and able to install and then run `PMM with binance_paper_trade`. However, we can confirm that there are some packages that are broken and needed to be installed but the Hummingbot client still works as expected.

https://user-images.githubusercontent.com/73840223/1961038

[2022-10-17 08:16] #5797 closed

[2022-10-17 09:37] nikspz commented on #4428
@MementoRC

Bot should left orders uncancelled by exit --suspend

Then this option should allow bot to restore it (see that uncancelled orders)
https://docs.hummingbot.org/operation/pause-resume/#pause-and-resume-strategy

Currently bot didn't show it as hanging orders in the status (it creates new pair of orders and only this new showed on `status`)
![start --restore](https://user-images.githubus

[2022-10-17 10:38] billythedummy commented on #5801
sure, is there an email or smth i can send those to? I don't think there's any more relevant details in the logs other than what i shared tho. It seems like this was a transient issue with binance's servers, i don't think it's possible to replicate it faithfully, but you can probably mock it by creating a mock binance_perpetual server that replies to the order request with HTTP 503

[2022-10-17 12:25] billythedummy commented on #5801
[conf_n_logs.zip](https://github.com/hummingbot/hummingbot/files/9800398/conf_n_logs.zip)

error starts at around line 810 of the log file

[2022-10-17 16:23] MementoRC commented on #5617
This proposed PR has both included, but ofc the removal from the auto-complete takes precedence

[2022-10-17 16:27] MementoRC commented on #5804
@rapcmia I think the issue could be that I created several versions of the gateway, so I have several gateway credentials directories. HB somehow tries to access one that is not valid. It is possible that if I do a `gateway create` the error will go away. However, I was creating this issue to raise attention that we could add some verification of the path rather than emit an exception

[2022-10-17 16:38] MementoRC commented on #4428
@nikspz Correct, they are not placed in the `hanging orders`, but they are not `hanging orders` they are legitimate old pair of orders that behave like you described above. Your example shows a legitimate buy/sell pair, which is restored as buy/sell, the bot creates a new set of buy/sell on top of the restored buy/sell - The documentation shows 2 hanging orders, suspended then restored and showing

[2022-10-17 17:22] MementoRC commented on #5804
@rapcmia We can close if this does not look like a bug, thx

[2022-10-17 18:31] cardosofede commented on #5791
@JeremyKono this will be assigned to @yancong001

[2022-10-18 04:48] rapcmia commented on #5804
Hi @MementoRC thanks for update, our gateway v2 is still in development and will discuss this with the team as a possible improvement. Yes we can close this for now and we can reopen if needed for further tests. Thank you for your time!

[2022-10-18 04:48] #5804 closed

[2022-10-18 07:06] rapcmia commented on #5567
Hi @alexefrank12 good day to you
With max_order_age's expected behavior it would refresh/create the orders when they reached the set values however if it's hanging order it should be able to recreate the same order. When you said it would not re-post orders does that mean it doesn't create or expect to recreate the same orders?

[2022-10-18 07:29] #5540 closed

[2022-10-18 07:46] rapcmia commented on #5132
Hi @deefactorial good day
We tried to reproduce the issue and the expected behavior occurred where Binance would return a log about `lower than the minimum order size..` Please also be advised that there is a thread where you can share an idea on how we can improve the approach for minimum order amount per exchange found here on this [link](https://forum.hummingbot.org/t/improvement-for-order-amou

[2022-10-18 09:24] awayme opened #5813 "OKX orderbook datasource get the wrong amount"
There are errors in the okx_api_order_book_data_source.py which makes the amount in the order book not correct.

line 43,44 and 108,109:
            "bids": [(bid[0], bid[3]) for bid in snapshot_data["bids"]],
            "asks": [(ask[0], ask[3]) for ask in snapshot_data["asks"]],
should be:
            "bids": [(bid[0], bid[1]) for bid in snapshot_data["bids"]],
            "asks": [(ask[0], ask

[2022-10-18 12:28] billythedummy commented on #5801
Oracle Cloud Ampere A1(arm64), ubuntu 22.04.1 lts, 4 cores  23.4 GB RAM

[2022-10-18 13:51] HODLER-CODING commented on #5795
https://github.com/hummingbot/hummingbot/pull/5814

PR submitted thanks

[2022-10-18 15:57] JeremyKono commented on #5793
Hi @litepresence, will be assigning this connector to you. Thank you for your contribution!

[2022-10-18 16:00] HODLER-CODING commented on #5792
I would like to be assigned this bounty thanks

[2022-10-18 21:55] PeterCHK commented on #5792
Also would like to get assigned to this bounty.

[2022-10-19 07:04] luky1984 commented on #5771
I can confirm this is annoying as fuck. Since this midnight i am trying to start the robots, still seeing this message, unable to start them. Incredible shit.

[2022-10-19 08:44] nikspz commented on #4428
Actual behavior:
bot NOT able to capture the orders left on exchnge at the event of `start --restore`
![start --restore for binance same result](https://user-images.githubusercontent.com/83953535/196635239-7691b699-fe7b-4f68-a483-ec3a89c5beb0.gif)

Expected Behavior:
1. Active orders left after the `exit --suspend`
2. It labeled as "hanging" when start --restore is executed.
3. bot should be able

[2022-10-19 09:00] nikspz commented on #5093
Should be fixed with https://github.com/hummingbot/hummingbot/pull/5233

[2022-10-19 09:17] nikspz commented on #5093
Bybit perpetual works for One-way now on development 1.9.0, closing that issue
![image](https://user-images.githubusercontent.com/83953535/196650438-10f703c5-aa95-4fb1-bb23-29ac59bf108f.png)
![image](https://user-images.githubusercontent.com/83953535/196650474-12686e45-726f-4d50-8f4c-90287b9baf35.png)

[2022-10-19 09:17] #5093 closed

[2022-10-19 09:28] luky1984 commented on #5808
Hi, were you able to install it only with commands

[code]
Or how exactly you have installed it?

[2022-10-19 16:16] MementoRC commented on #4428
@nikspz That's understood, but the label "hanging" is related to PMM and Avellaneda only when the strategy selects `hanging_orders_enabled` is it not? I don't want to be prickly here, but make sure we have the same understanding, it seems like this is a feature request:
   - Capture the restored orders as ... "restored"
 I worked on the PMM hanging orders and the definition is a PMM orders pair th

[2022-10-19 20:15] MementoRC commented on #5602
@JeremyKono There seems to be some controversy with this. I have closed the PR and there was discussions as to remove it from the Bounty Board (This is the same as for FTX, I had forgotten about it, sorry)

[2022-10-19 21:35] nikspz commented on #5813
same in the latest development 1.9.0 code
![image](https://user-images.githubusercontent.com/83953535/196809219-f4874e49-f36d-4085-9474-73bd5e3e06b3.png)

[2022-10-19 21:50] nikspz commented on #5813
Upon checking OKX exchange `order_book --live`, bid and ask prices updating is OK, but bid and ask volume is wrong
![OKX prices ok, but ask and bid volume is wrong](https://user-images.githubusercontent.com/83953535/196811348-97ec7ee6-6b42-47a2-9b68-a150f8431840.gif)

[2022-10-20 01:53] JeremyKono commented on #5602
@MementoRC reopening this bounty and will discuss internally with the team.

[2022-10-20 02:28] rapcmia commented on #5240
Fix has been deployed

[2022-10-20 02:28] #5240 closed

[2022-10-20 02:40] rapcmia commented on #5696
Closing ticket since fix has been deployed to version 1.8.0

[2022-10-20 02:40] #5696 closed

[2022-10-20 03:50] rapcmia commented on #5676
The fix has been added to the upcoming version 1.9.0 release.

[2022-10-20 03:50] #5676 closed

[2022-10-20 04:01] rapcmia commented on #5115
The fix has been added to the upcoming version 1.9.0 release.

[2022-10-20 04:07] #5657 closed

[2022-10-20 04:08] #5654 closed

[2022-10-20 04:20] rapcmia commented on #5578
Closing ticket as the foundation team decided that this issue is a expected behavior on the current version of Gateway-v2. Hbot granted to @MementoRC for his investigation.

[2022-10-20 04:20] #5578 closed

[2022-10-20 04:25] rapcmia commented on #4962
The fix has been added to the upcoming version 1.9.0 release.

[2022-10-20 04:25] #4962 closed

[2022-10-20 04:29] rapcmia commented on #5656
Fix for stuck on `..waiting for allowance` has been deployed and will be available on the upcoming version 1.9.0 release.

[2022-10-20 04:29] #5656 closed

[2022-10-20 05:45] mss7082 commented on #3302
Yea, did not work for btc/usd on ftx as well.

Another workaround that i tried that seems to work for me, anyone interested can try to confirm.

1. Create your strategy. set the price_type and inventory_price inline.
2. Exit the bot
3. Add the cost to the InventoryCost table in the sqlite file (found in the hummingbot_data folder) manually. (It wouldn't let me update the db in place, so i uploaded

[2022-10-20 07:00] JeremyKono commented on #5617
assigned to @MementoRC. thank you for your contribution!

[2022-10-20 07:49] nikspz commented on #5788
PR for gate io perpetual: https://github.com/hummingbot/hummingbot/pull/5798

[2022-10-20 22:31] nikspz commented on #5164
replicated on development 1.9.0
![image](https://user-images.githubusercontent.com/83953535/197071353-4a24aee2-ea62-4dd4-8ce7-73f61f4f2b6d.png)

ps
For workaround:
Manually edit the strategy file from../conf/my_twap.yml and set the values for end_datetime

[2022-10-21 16:01] MementoRC opened #5819 "The throttler does not seem to work as advertised"
**Describe the bug**
The throttler seems to be duplicating every requests in the tasks log. The testcase to verify the behavior actually seem to say that when 1 task is requested 2 are added to the log
[code]
The issue is in: `self.assertEqual(`**2**`, len(self.throttler._task_logs))`

**Steps To Reproduce**
Simply use the testcase that is passing confirming that one rate_limit `acquire()` puts 2

[2022-10-21 17:44] MementoRC commented on #4428
@nikspz To be more specific, the code in PMM only set orders hanging IF hanging_order_enabled is True, but the orders are tracked:
[code]
So, do we want to remove the restriction? and verify that everything still works? Or do we want to have a new category `restored` for the labeling and display of the restored orders?

[2022-10-23 13:56] sayembara opened #5823 "Bitmart fixed_grid created limit orders but removed all after 10 minutes."
**Describe the bug**
// A clear and concise description of what the bug is.
When starting fixed_grid on BitMart, the robot created order as per the config. So far so good. But after 10 minutes, warning sign (client_order_tracker failed) appeared. Then all limit orders being removed. This remained until the next cycle (order refresh time = 1800 secs). Then the bugs repeat as per the initial cycle a

[2022-10-23 15:10] MementoRC opened #5824 "ByBit updated API - Deprecated parameter"
**Describe the bug**
ByBit recently deprecated a set of parameters causing HB to fail:

**Steps To Reproduce**
Use strategies using ByBit connector

**Screenshots**
![image](https://user-images.githubusercontent.com/93164135/197399948-205d1a25-7d95-4b09-bf19-408a54bb9c7b.png)

**Release version**
All

*WARNING: Do NOT publish any exchange API keys or your wallet's private key. Whoever has access t

[2022-10-24 06:57] arnelhbot opened #5825 "Client - Binance_perpetual_api_order_book_data_source error after starting Client"
**Describe the bug**
This ticket is for QA Monitoring purposes:

- Upon starting `Staging1.9.0` and `Dev1.9.0 `client it was observed there was a `binance_perpetual_api_order_book_data_source` error that appeared in the log pane. This was observed on Source AWS and Docker Build. We suspect issues is stemming from Binance_perp_testnet.

Note: This issue is erratic, it will not show on the first cli

[2022-10-24 10:20] rapcmia commented on #5808
@luky1984 same steps

[2022-10-24 10:38] arnelhbot opened #5826 "Ascendex - The order fill updates did not arrive on time caused order not recorded in `history --verbose`"
**Describe the bug**
This ticket is for QA Monitoring purposes:

- It was observed during testing `Ascendex` with` Liquidity Mining` that there was an order filled in the log pane but client failed to check history. Checking the Data file, said the filled order was not logged but it was on the exchange.

**Steps To Reproduce**
Here are the steps to reproduce the issue (see attachments in the secti

[2022-10-24 22:08] nikspz opened #5827 "Bybit perpetual - Failed to start PerpetualMM strategy"
Bybit Perpetual failed to start Perpetual market making strategy. Showed `ERROR - Unhandled error in background task: [<class 'decimal.ConversionSyntax'>]` on the start of the bot

**Steps To Reproduce**
1. Create perpetualMM strategy using bybit perpetual as the exchange
2. Start the strategy

Actual behavior:
Bot showed WARNING - Changing position mode to ONEWAY did not succeed.
Then stuck into

[2022-10-25 09:33] nikspz commented on #5826
Issue not related to LM strategy, happened also on PureMM

[logs_conf_pure_mm_1.log](https://github.com/hummingbot/hummingbot/files/9859055/logs_conf_pure_mm_1.log)
![image](https://user-images.githubusercontent.com/83953535/197738218-7973a747-182d-412e-8fb2-83d0b9e4be2f.png)

[2022-10-25 12:56] cardosofede commented on #5825
@arnelhbot this is happening only with testnet?

[2022-10-25 12:59] cardosofede commented on #5813
@awayme I reviewed the docs and you are right, do you want to provide a PR for this?

[2022-10-25 13:00] cardosofede commented on #5808
@rapcmia should we close this issue?
@luky1984 can you install hummingbot?

[2022-10-25 13:02] cardosofede commented on #5806
@MementoRC @rapcmia P3 means Priority 3. If it's in the bounties board means that there is a bounty for it.

[2022-10-25 14:17] MementoRC commented on #5806
@rapcmia @cardosofede THank you for the clarification, there was a mix-up between P[123] and bounties

[2022-10-25 14:21] MementoRC commented on #5827
@nikspz @rapcmia This is a duplicate of: https://github.com/hummingbot/hummingbot/issues/5824

[2022-10-25 16:47] huatahhhhh commented on #5800
@nikspz API calls for `api/v5/trade/fills` is crafting the digital signature wrongly. This leads to hummingbot order tracker not capturing trade fills when web socket is disconnected as well as triggering the throttle limit (when a api call fails, hummingbot will reattempt synchronising of clock).

Please follow my above steps - adding logging lines to source code to verify the issue. I would like

[2022-10-25 18:25] nikspz commented on #5800
Severity: P3
Bounty: 10000 (https://hummingbot.org/maintenance/bugs/)
Rationale:  Bug related to OKX, certified connector

[2022-10-25 18:33] nikspz commented on #5800
Assigning this issue to @huatahhhhh . Thank you for your contribution!

[2022-10-26 01:52] huatahhhhh commented on #5800
thank you @nikspz

[2022-10-26 06:40] JeremyKono commented on #5068
Hi @MementoRC, this is to confirm if what PR are we supposed to look at? Yours or @kadirc PR. Thanks

[2022-10-26 07:57] gzliudan opened #5831 "handle different tokens which has same symbol"
**Feature Suggestion**
Sometimes different tokens have same symbol. But hummingbot use symbol to stand for token. So one symbol can not stand for two
tokens at same time, there is a token will be disabled in hummingbot when we use token list URL. Can we add a new token list file to override the symbols of token according to token address manually ?

[2022-10-26 08:35] leecarney opened #5832 "Ascendex websocket errors"
**Describe the bug**
Errors appear for the last week for ascendex connections. The hb test bots are intermittently seeing this issue too. From the errors seen below it may be that having more than 1 bot consuming the websocket feeds from a single IP is causing a rate throttle from ascendex.
They seem to be every 30 seconds:
Unexpected error with AscendEx WebSocket connection. Retrying after 30 sec

[2022-10-26 11:36] nikspz commented on #5824
Fixed with #5829

[2022-10-26 11:36] #5824 closed

[2022-10-26 11:37] nikspz commented on #5827
Fixed with https://github.com/hummingbot/hummingbot/pull/5829 / #5830

[2022-10-26 14:31] huatahhhhh opened #5833 "Okx cancel order error code"
**Describe the bug**
Existing implementation accepts sCode=5140 which is an invalid error code according to OKX implementation. This results in failure to cancel order which does not exist or has already been cancelled. The correct codes are 51400 and 51401. This bug resulted in many cancellation orders being failed to cancel after running a bot for a long duration of time. Upon checking, orders a

[2022-10-26 15:46] preze93 opened #5834 "XEMM not working on Huobi/OKX"
**Describe the bug**
With a Docker installation, I tried deploying a XEMM strategy having Huobi as MAKER and OKX as TAKER
MAKER: JST-USDD
TAKER: JST-USDT
I get the error
`decimal.InvalidOperation: [<class 'decimal.InvalidOperation'>]
2022-10-26 15:34:32,501 - 1 - hummingbot.core.utils.async_utils - ERROR - Unhandled error in background task: [<class 'decimal.InvalidOperation'>]
Traceback (most rec

[2022-10-26 19:25] leecarney commented on #5826
I am seeing this behaviour too - it started when the ascendex trade stream errors appeared.

[2022-10-26 19:45] kadirc commented on #5068
@MementoRC, another problem is that order amount and price is miscalculated with different quote or base assets, either for bid or ask orders. I don't think #5728 addresses that.

About the rate oracle, I think it is better to make sure conversion rates available rather than rate oracle, because;
- If fixed conversion rates mode is configured, why wait for rate oracle
- rate oracle might be availa

[2022-10-26 21:30] MementoRC commented on #5068
It looks good. Federico and Nick reviews will be much more in-depth and relevant - The other PR has been closed
@JeremyKono @rapcmia FYI on a new assignee for this bounty

[2022-10-27 02:13] gzliudan opened #5835 "Refresh nonce before send transaction"
**Feature Suggestion**
If we executed transaction in other wallet software, such as metamask, then switch to hummingbot and send transaction in hummingbot, hummingbot will report error like below:
[code]

So I suggest renew nonce before send transaction, or set a expire time for nonce.

[2022-10-27 03:32] rapcmia commented on #5614
Tried to reproduce this issue and not happening on dev1.9.0, Closing ticket

[2022-10-27 03:32] #5614 closed

[2022-10-27 03:34] rapcmia commented on #5808
Closing ticket, installation script working as expected.

[2022-10-27 03:34] #5808 closed

[2022-10-27 03:47] #5505 closed

[2022-10-27 03:50] rapcmia commented on #5473
Fix has been deployed

[2022-10-27 03:50] #5473 closed

[2022-10-27 03:59] #5678 closed

[2022-10-27 04:02] #5827 closed

[2022-10-27 05:21] rapcmia commented on #4957
The current design of the `Liquidity Mining strategy` supports multiple markets with the same quote tokens. There are plans to improve this strategy in our future releases. The HBF team will be working on improving the docs and adding the limitation of each strategy as well

[2022-10-27 05:21] #4957 closed

[2022-10-27 06:36] leecarney commented on #5832
The issue is still happening but my IP is not banned any longer when running only one bot consuming the feed:
curl "https://ascendex.com/api/pro/v2/risk-limit-info" | jq
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  1090    0  1090    0     0   4736      0 --:--:-- --:--:-- --:--:--

[2022-10-27 09:52] nikspz commented on #5834
Hi @preze93 looks like the reason could be rate for JST-USDD pair not found
Could you please send your conf_client.yml file / screenshot of `Global Configurations`?

[2022-10-27 10:39] preze93 commented on #5834
Hi @nikspz
That is strange because when I type jst in the strategy it automatically shows the JST-USDD
![image](https://user-images.githubusercontent.com/16908747/198263043-7e264c23-e25f-4353-a673-1568d3a4ea46.png)

See enclosed the conf_client.yml
[conf_client.txt](https://github.com/hummingbot/hummingbot/files/9878506/conf_client.txt)

[2022-10-27 16:54] 9Karma9 commented on #5832
Im having the same issue, running the liq mining on Ascendex. but in my case i have 2 errors:

1.- Same as you
2.- rate _ source_ base - Unexpected error while retrieving rates from Ascendex.

[2022-10-27 18:54] nikspz commented on #5834
Reproduced using `kucoin` rate oracle source.
![image](https://user-images.githubusercontent.com/83953535/198374515-0bdf5f67-5d74-49e6-8c24-16f01f579fe0.png)

Also reproduced using `coingecko` with extra_token `usdd`

[2022-10-27 19:19] nikspz commented on #5834
Noticed that order_book --live and status --live not updating using huobi + pureMM strategy
![image](https://user-images.githubusercontent.com/83953535/198379462-817e92fc-f44f-4ccc-8644-f2643d75d162.png)

[2022-10-27 19:39] nelyajizi opened #5841 "Unexpected error occurred when listening to order book streams"
**Describe the bug**
// A clear and concise description of what the bug is.
unexpected disconnection very frequently when using hedge strategy or spot_perp_strategy on 1.8.0
when i catch the error in the exception in ws_connection.py, I got:
RuntimeError: Concurrent call to receive() is not allowed

**Steps To Reproduce**
// A concise description of the **steps to reproduce the buggy behavior**:

[2022-10-27 20:45] cardosofede commented on #4428
@rapcmia @MementoRC @nikspz from my side, I think that this feature is useless.
I don't know who wants to left the orders open in the market without doing anything.
To clarify this, I will suggest defining the expected behavior of the bot while using this feature (I think that @rapcmia has this clear) and make the code works like that.
Another solution can be remove this feature. If you want we ca

[2022-10-27 21:36] MementoRC commented on #5804
@rapcmia Update on the origin: It is inferred from the `instance_id`  in the conf_client.yml. I must have updated this at some point and forgot - Completely closed now

[2022-10-28 05:19] huatahhhhh commented on #5800
@JeremyKono The PR is not for this issue. I will be submitting a PR for this soon

[2022-10-28 05:20] huatahhhhh commented on #5813
@cardosofede can you assign this to me?

[2022-10-28 08:35] leecarney commented on #5832
@arnelhbot I have checked the bug bounty and I can't see how they are related. The errors are different, the http status code is different, the steps to reproduce are different and the URL here is specific to liquidity mining. Also combine this with the fact this issue only just started happening whereas the other issue is months old. Why don't we ask someone at Ascendex?

[2022-10-28 08:37] JeremyKono commented on #5793
Hi @litepresence, are you still interested in working on the improvement? When can we get an update?

[2022-10-28 10:37] advaitrane98 commented on #5601
Here we have substantial EDG and USDT balance seen through the 'balance' command, but while trying inventory_skew we're getting a warning that distribution is 0% EDG and 100%USDT, which isn't right.
Now, if I enable target_pct to 50%, the bot will buy EDG till the EDG becomes ~50%, which is not what we want because we already have substantial EDG and we just want to balance existing inventory. PFA

[2022-10-28 16:02] MementoRC commented on #5832
@arnelhbot Agreed, the 2 issues do not seem related. Mixing them could be confusing. Note that one user who is debugging mentioned a `Concurrent call to receive() are not allowed` that could be a good hint.

[2022-10-28 18:38] NisoKTNU commented on #5244
also having an issue where orders are automatically cancelled(within 1 second) no config settings appear to make a difference.
[conf_avellaneda_market_making_1.zip](https://github.com/hummingbot/hummingbot/files/9890939/conf_avellaneda_market_making_1.zip)

[logs_conf_avellaneda_market_making_1.log](https://github.com/hummingbot/hummingbot/files/9890978/logs_conf_avellaneda_market_making_1.log)

[2022-10-28 21:03] 9Karma9 commented on #5832
Ok Guys so...

i changed the max_order_age to 33 and the bot keeps running, closing the orders and re opening all, its weird but in this change the both errors are not displayed on the log panel. Every 33 seconds the bot close all the orders and place it again with the requested paremeters.

[2022-10-28 21:17] leecarney commented on #5832
In any company if this happened you would just talk to the other team involved. But instead here we are not able to talk to this other team (Ascendex) and are just randomly trying to reverse engineer and suggest new features. Somebody just needs to ask Ascendex why this has just started happening...really someone at Hummingbot who actually have a business agreement with ascendex.

Regards debuggin

[2022-10-28 22:00] leecarney commented on #5832
To ease the stress on the websocket whilst a solution is found - increase the HEARTBEAT_PING_INTERVAL and also change to using await self._sleep(60.0)

[2022-10-28 23:08] MementoRC commented on #5832
You have to be careful though, the heartbeat is often used to prevent the socket to close in the websocket protocol. Look at: https://ascendex.github.io/ascendex-pro-api/#websocket-request. I am from a restricted country for AscendEx

[2022-10-29 04:19] leecarney commented on #5832
Thanks - 30 has worked fine overnight.
Any thoughts on why the user stream data source seems to be erroring whilst the orderbook data source is fine?

[2022-10-29 07:07] leecarney commented on #5832
Lack of ping to keep the websocket open is looking a likely cause https://ascendex.github.io/ascendex-pro-api/#keep-the-connection-alive-via-ping-pong

[2022-10-29 08:22] #5832 closed

[2022-10-29 16:14] MementoRC commented on #5832
This is a great find. The WSConnection is supposed to handle the PING/PONG directly, but you could be bringing up a crucial point, which is that the WSConnection is handling it using the aiohttp.WSMsgType.PING/PONG. AscendEx may be sending the PING/PONG via a regular aiohttp.WSMsgType.TEXT/BINARY. Have you double-check that you get through the `await ws.send(pong_request)`?

[2022-10-29 16:24] MementoRC commented on #5700
This sounds worth looking into:
https://github.com/hummingbot/hummingbot/issues/5832#issuecomment-1295887407

[2022-10-29 16:24] MementoRC commented on #5602
This seems worth looking into:
https://github.com/hummingbot/hummingbot/issues/5832#issuecomment-1295887407

[2022-10-29 22:37] nelyajizi commented on #5841
mainly in dydx, I tested on bybit and its working fine

[2022-10-30 10:20] leecarney commented on #5700
Assign this one to me and I'll fix

[2022-10-30 22:37] gusreyes01 commented on #5276
I'm having the same issue
Hi, having the same exact issue as @mancap314 and @sirEven.

Running latest release  on macOS from source.

[2022-10-31 01:27] sayembara commented on #5823
In addition to the disappearing orders, the max_order_age also being ignored. (gate.io also ignoring max_order_age, but kucoin got it right. may be can cross check both bitmart and gate max_order_age code with kucoin).

[2022-10-31 04:34] JeremyKono commented on #5602
Assigning this bounty to @leecarney. Thank you for your contribution!

[2022-10-31 04:37] JeremyKono commented on #5700
Assigning this issue to @leecarney. Thank you for your contribution!

[2022-10-31 06:29] leecarney commented on #5602
@JeremyKono I have the PR ready - how do I push the branch? Currently getting 403 permission denied.

[2022-10-31 10:38] JeremyKono commented on #5794
Hi @cmichaeltimmons, can you please give us an update on this issue? Have you created a PR yet?

[2022-10-31 10:45] JeremyKono opened #5850 "feat / Lbank Exchange"
Connector created in accordance to: https://snapshot.org/#/hbot.eth/proposal/0x855cd611151ef9e44d4507d133bcc64c5119a25425720dcb83f2850098647cc0

[2022-10-31 10:45] JeremyKono commented on #5850
Bounty: 200,000 HBOT

[2022-10-31 11:16] JeremyKono commented on #5602
You might want to take a look at our contribution guidelines: https://docs.hummingbot.org/developers/contributions/

[2022-10-31 14:10] kkapuria3 commented on #5584
Any updated on this Bug ?

[2022-11-01 06:11] leecarney commented on #5700
@JeremyKono This is the PR https://github.com/hummingbot/hummingbot/pull/5854
Looks like I lost 17000 HBOT in the avalanche bridge hack so will be delayed in creating this snapshot proposal

[2022-11-01 17:55] huatahhhhh commented on #5800
@JeremyKono  please unlink this issue from PR #5828

[2022-11-01 23:28] j-woodlee opened #5857 "No sell order placed on FTX when running pure_market_making on USDT/USD"
**Describe the bug**

I am running a pure_market_making strategy on FTX with the USDT/USD pair.  When I start the strategy it only places a single BUY order and does not place a SELL order.  Based on my config I believe it should be placing both a BUY and a SELL when I start the strategy.  I have already brought this up in the Discord and I was pointed here.  Config, logs, and balances are below.

[2022-11-02 02:25] j-woodlee commented on #5857
In this scenario, the strategy calculates the ask price and the bid price to be at the same price level.  Example: when the mid price is 0.99985 and the ask_spread is 0.005% and the bid spread is 0.0005%, you calculate a bid price of .9998 and an ask price of .9998 (truncated).  When they are at the same price level, the bot must decide to only place bid orders.  That is my guess for what is happe

[2022-11-02 04:42] nikspz commented on #5584
development 1.10.0
connect binance_us API Keys successfully = OK
checked balance for binance_us successfully = OK
created/started AvellanedaMM strategy using binance_us = OK
bot stuck into Calculation of volatility (using AvellanedaMM)
![image](https://user-images.githubusercontent.com/83953535/199399932-65cd8eaf-249c-42ef-ba69-5c542416a860.png)
issue seems similar to https://github.com/hummingbot

[2022-11-02 04:50] nikspz commented on #5584
@kkapuria3
upd:
`Bot was able to start trading using AvellanedaMM` after ~10 minutes of volatility calculation

![image](https://user-images.githubusercontent.com/83953535/199400705-39277637-21a1-4f00-8dd3-b4b9e5dda429.png)

[2022-11-02 14:03] rapcmia commented on #4428
The Hummingbot Foundation team have removed the bounty on this ticket and decided to remove this feature

[2022-11-02 14:16] JeremyKono commented on #5813
Assigning this issue to @huatahhhhh.

[2022-11-02 16:02] kadirc commented on #5695
@JeremyKono should have been addressed by #5812 , could you assign to me?

[2022-11-02 16:45] MementoRC commented on #5190
Is this still relevant? Based on the latest source, it does not seem possible:
[code]

[2022-11-02 17:54] MementoRC commented on #5771
From the strategy, it seems like a normal mode for the strategy, however, it's unclear how the new connectors are emitting the TradeEvent for the TrailingIndicators to be updated and thus resume calculation

[2022-11-02 18:00] MementoRC commented on #5695
@JeremyKono This should be not be assigned to me, the PR I proposed is closed and obsoleted by https://github.com/hummingbot/hummingbot/pull/5812

[2022-11-02 18:02] MementoRC commented on #5068
@JeremyKono Note that this should also relate to Bounty: [XEMM - Incorrect rate oracle conversion#5695](https://github.com/hummingbot/hummingbot/issues/5695)

[2022-11-02 20:17] j-woodlee commented on #5857
Hi @arnelhbot yep this is figured out.  I think it would be nice to have some kind of warning message that indicates that the bid and ask are the same price, so it will only place the bid.  I can close this issue though, thanks for following up!

[2022-11-02 20:17] #5857 closed

[2022-11-02 20:44] leecarney commented on #5602
https://github.com/hummingbot/hummingbot/pull/5854

[2022-11-02 22:27] cmichaeltimmons commented on #5794
- [ ] implement update_balances
- [ ] implement api_user_stream_data_source (multiple methods, will break down later)
- [ ] implement user_stream_data_source (multiple methods, will break down later)
- [ ] implement config_map
- [ ] implement rest_authenticate
- [ ] implement ws_authenticate
- [ ] implement initialize_trading_pair_symbols_from_exchange_info
- [ ] implement get_fee
- [ ] implement

[2022-11-03 07:02] JeremyKono opened #5858 "feat / whitebit connector"
Connector created in accordance to: https://snapshot.org/#/hbot-ip.eth/proposal/0x3644b2a83d69310201f24d44060c2edfcaf7c0cfab511f6f9bf211faa6c8f894

[2022-11-03 07:03] JeremyKono commented on #5858
Bounty: 200,000 HBOT

[2022-11-03 08:15] rapcmia commented on #5533
Hi @Crypto369 @lbhein please be advised that the `warning on low balance` does not affect the arbitrage on perpetual connectors. At the moment this is expected `warnings` for the spot-perpetual-arbitrage strategy and are plans of improvements on future releases.

[2022-11-03 08:15] #5533 closed

[2022-11-03 08:26] rapcmia commented on #5190
Hi @MementoRC good day and thanks for your response.
I setup a testbot on paper to reproduce this quickly and confirm its still a ongoing issue. Also I can confirm that when the hanging order was created the log file shows the client stores the correct amount . The issue is that if the order amount is a whole number that ends on `0` and a hanging order is created, we noticed that it removes the ze

[2022-11-04 02:54] JeremyKono commented on #5796
hi @ethicrypt, can you please provide us an update on the progress of this?

[2022-11-04 02:55] JeremyKono commented on #5693
Hi @vic-en, can you please provide us an update of the progress of this bounty?

[2022-11-04 03:03] rapcmia commented on #5813
Severity: P3
Bounty: 10,000 (https://hummingbot.org/maintenance/bugs/)
Rationale: Bug related to component

[2022-11-04 03:10] rapcmia commented on #5833
Severity: P2
Bounty: 50,000 (https://hummingbot.org/maintenance/bugs/)
Rationale: Bug related to certified connector: OKX

[2022-11-04 03:12] JeremyKono commented on #5068
Hi @kadirc, can you please provide us with your ETH wallet to send the rewards? Thank you

[2022-11-04 03:12] JeremyKono commented on #5813
Hi @huatahhhhh , can you please provide us with your ETH wallet to send the rewards? Thank you

[2022-11-04 03:48] yancong001 commented on #5791
https://github.com/hummingbot/hummingbot/pull/5798

here is my PR;

[2022-11-04 06:11] rapcmia commented on #3353
Closing this ticket for now as we have not yet updated the affected connectors.

[2022-11-04 06:11] #3353 closed

[2022-11-04 07:51] febriyana99 opened #5861 "Bitfinex - Bitfinex_Api_Order_Book_Data_Source - Unexpected Error Occured"
**Describe the bug**
I create Pure MM strategy with connector to Bitfinex. Then i starting the bot, the log panel showing error.
**_"Bitfinex_api_order_book_data_source - Unexpected error occured when listening to order book streams. Retrying in 5 seconds..."_**

But i check on _Bifinex App_, the order still created and canceled.
I create 2 bot there with hummingbot, ETC and ETH with custom **conf

[2022-11-04 10:50] huatahhhhh commented on #5813
Thank you @JeremyKono My eth wallet address is
0xFe53737f18CABAE9C48DB8dC57d150757d3E4099

[2022-11-04 17:10] ethicrypt commented on #5796
Hi @JeremyKono, progress is coming along well for KuCoin perpetuals. I am expecting to be finished testing and ready to merge in about 1-2 weeks time.

[2022-11-04 21:12] MementoRC commented on #5190
Hi @rapcmia , got it, I confirmed t the issue with a testcase, it's a cython module, so a tidbit annoying to debug - Any chances the bounty scales with the debugging difficulty ;P (just kidding!)

[2022-11-04 21:55] MementoRC commented on #5190
@rapcmia PR: https://github.com/hummingbot/hummingbot/pull/5862

[2022-11-04 21:55] Myobbb opened #5863 "Bybit spot wrong order amount when market buying"
Bybit spot uses the same order amount for both sides of the trading pair.

I.E. if order_amount is set to 100, it will attempt to sell 100 tokens for USDT but also tries to buy $100 worth of tokens instead of just buying 100 tokens.

It happens when using amm_arb strategy with dex(quickswap) as a second connector and attempting to sell on Bybit spot.

release version 1.9.0 as well as dev-1.10.0

!

[2022-11-05 01:15] berchapman opened #5864 "UniswapLP strategy bot stuck in loop, failing to create WETH-USDC pool"
**Describe the bug**
uniswap_v3_lp strategy bot is stuck in loop attempting to create WETH-USDC pool, and fails  to create the liquidity pool.

**Steps To Reproduce**
Here are the steps to reproduce the issue (see attachments in the section below):
1. Hummingbot installed from source, on Ubuntu 18.04 LTS
2. Start hummingbot
3. Verify gateway is online
4. Ran `create` (see "create.png" screenshot)

[2022-11-05 02:24] tuvshinbayar-mm opened #5865 "XEMM bot is stopped due to market connection and never resumed itself when connection is back"
**Describe the bug**
XEMM bot is stopped and never resumed when some markets are not connected or are down at the moment.
When I checked what market was not connected, it was FTX.
I expected when FTX gets connected back, the bot should get resumed and work continuously.

**Steps To Reproduce**
Here are the steps to reproduce the issue (see attachments in the section below):
1. Create a XEMM strate

[2022-11-05 15:13] berikarg opened #5866 "Dex orders are failing on polygon"
**Describe the bug**
// A clear and concise description of what the bug is.
During amm_arb strategy all orders on polygon dexes (Quickswap and Uniswap) are failing.

**Steps To Reproduce**
// A concise description of the **steps to reproduce the buggy behavior**:

I am running amm_arb between quickswap WBTC-USDC and kucoin BTC-USDC. 14 arbitrage opportunities were found. All orders on kucoin have

[2022-11-05 17:09] MementoRC commented on #5074
@rapcmia @cardosofede @leastchaos Proposed PR: https://github.com/hummingbot/hummingbot/pull/5867
This does seem to be an intrusive change (for the cosmetic aspect of the issue), so the proposal above can be considered a quick workaround as it attempts to only solve the issue with a limited amount of changes.
More complete solution could perhaps update the PerpetualExchange to make the behavior sy

[2022-11-06 22:13] kadirc commented on #5068
Hi @JeremyKono, here it is: 0x76c8A2AD994065512a37E4B0aC8d808332704494

[2022-11-07 02:33] JeremyKono commented on #5788
Hi @yancong001, your PR has been merged. Can you please provide us with your ETH wallet so we can send payment? Thanks.

[2022-11-07 02:45] JeremyKono commented on #5793
Will be reassigning this bounty to another developer as the current developer hasn't responded

[2022-11-07 02:56] yancong001 commented on #5793
I would like to be assigned this ticket

[2022-11-07 03:02] JeremyKono commented on #5833
Assigning this issue to @huatahhhhh

[2022-11-07 03:13] yancong001 commented on #5788
hi,it's my account
0xDb40C5FF1EfC28Af389D99F5f4Ec01E18A6Df771

[2022-11-07 07:30] dennisocana commented on #5792
We (CoinAlpha) would like to be assigned to this bounty.

[2022-11-07 07:31] dennisocana commented on #5793
We (CoinAlpha) would like to be assigned to this bounty.

[2022-11-07 07:39] JeremyKono commented on #5793
Hi @yancong001, you can only have 1 connector to work on per bounty. As I can see you are working on Bybit at the moment. Will be assigning this bounty to CoinAlpha.

[2022-11-07 11:33] JeremyKono commented on #5792
Will be assigning this bounty to CoinAlpha.

[2022-11-07 16:06] Valodax opened #5868 "Crypto.com - Hummingbot API is outdated"
**Describe the bug**
The Crypto.com connector is no longer working.

**Steps To Reproduce**
Create a new strategy using the arbitrage strategy.
Then select Crypto.com and another exchange for the trading pairs (it doesn't matter what trading pairs).
Run the start command and you should receive this output in the log:

`Traceback (most recent call last):`
`File "/hummingbot/hummingbot/core/utils/as

[2022-11-07 20:22] cmichaeltimmons commented on #5794
I have a meeting with Fede on November 10th to answer some questions I have about this upgrade.

[2022-11-07 20:51] NisoKTNU opened #5869 "Orders cancelled after 1 second with no trigger"
**Describe the bug**
Orders cancel 1 second after being placed no matter what the config is set to. I have been using avellaneda mostly but this also happens on the pure MM strategy and presumably others, this is consistent across both binance and bybit.

**Steps To Reproduce**
Create a new strategy (either Avellaneda or PureMM)
Set config with high/no order refresh tolerance and a high order refr

[2022-11-07 22:08] vic-en commented on #5693
@JeremyKono I'm still on this.
I encountered more errors than described.
Overall, I should be able to make a pr on or before the end of this week.

[2022-11-08 16:25] glarkou opened #5871 "Issue with Gate.io balance"
**Describe the bug**
The available balance on Gate.io is wrong and the bots tries to open trades with greater than the actual available balance.

**Steps To Reproduce**
Just start the bot with xemm and after a while you ll observe that the `Total` balance becomes less than the `Available` balance.

I usually observed this yes I have balance to buy and sell.
...

**Screenshots**
![image](https://us

[2022-11-08 17:34] MementoRC commented on #5868
@Valodax The log seem to indicate that you are trying to trade an unsupported pair on Crypto.com:
`https://api.crypto.com/v2/public/get-book?instrument_name=LTC_ETH&depth=10`
Please confirm

[2022-11-08 17:59] Valodax commented on #5868
I believe that was the trading pair given to Kraken. I gave a different trading pair to Crypto.com.

[2022-11-08 20:30] MementoRC commented on #5792
@JeremyKono Is it assigned to CoinAlpha because of how long it remained unassigned? I am interested in giving it a try if that's the case

[2022-11-09 02:02] JeremyKono commented on #5792
It is assigned to CoinAlpha since they have it already upgraded and will be easier for them to update @MementoRC

[2022-11-09 08:58] nikspz commented on #5284
Reproduced again on dev-1.10.0, the issue is floating (not happened all the time)

[2022-11-09 13:10] JeremyKono commented on #5833
Hi @huatahhhhh, can we please have your ETH wallet so we can send the HBOT? Thanks

[2022-11-09 13:16] nikspz commented on #5556
Noticed that bot have memory leak issue that could lead to bot crashed:

Steps to reproduce:
clone and install latest development branch
create/start perpetualMM strategy using binance_perpetual

Actual:
When you stopped the instance (or it stopped with killswitch) bot will slowly start to increase memory usage

![binance perpetual increase memory usage after bot stopped](https://user-images.githu

[2022-11-09 15:25] huatahhhhh commented on #5833
@JeremyKono here is my eth wallet address 0xFe53737f18CABAE9C48DB8dC57d150757d3E4099

[2022-11-09 18:47] kkapuria3 commented on #5584
Thank you so much. I will try to reproduce this, may please I know which branch has the fix ?

[2022-11-10 03:02] nikspz commented on #5584
@kkapuria3 development 1.10.0 (latest development)

[2022-11-10 20:53] MementoRC opened #5875 "Connectors with order book failures"
**Describe the bug**
The following modules are likely to generate an order book failure:
[code]

They are missing implementation for abstract methods in their base class

**Steps To Reproduce**
Start a strategy with these connector, await occurrence of HB `Not Implemented` error message

**Release version**
dev-1.10.0

*WARNING: Do NOT publish any exchange API keys or your wallet's private key. Wh

[2022-11-11 00:38] JeremyKono opened #5876 "feat / bitget connector"
Connector created in accordance to: https://snapshot.org/#/hbot-ip.eth/proposal/0x3644b2a83d69310201f24d44060c2edfcaf7c0cfab511f6f9bf211faa6c8f894

[2022-11-11 00:38] JeremyKono commented on #5876
Bounty: 200,000 HBOT

[2022-11-11 01:44] JeremyKono opened #5877 "Upgrade dYdX perpetual"
Upgrade dYdX perpetual to gold standard. HIP: https://snapshot.org/#/hbot-ip.eth/proposal/0x9f6a13e17917c688bac237fb311d652a787b46843598ec46050b36ae3780624d

[2022-11-11 01:50] JeremyKono opened #5878 "feat / Ref finance on NEAR protocol"
Connector created in accordance to: https://snapshot.org/#/hbot-ip.eth/proposal/0x3f43e4cbeaeea3d9ecfb76c0e338bd5ad08050377c659ac944025a23d5c02d2f

[2022-11-11 01:50] JeremyKono commented on #5878
Allocated HBOT: 500,000 HBOT

[2022-11-11 04:53] 0xferit commented on #5861
I have the same issue, and it's not new, for the last few months.

[2022-11-11 16:52] SupMap commented on #5771
Having the same issue on version 1.9.0 and dev 1.10.0, running on Windows WSL (Ubuntu) and AscendEx / AscendEx-Paper. Tried several pairs (ETH-USDT, ...) always the same result, tried increasing the buffer sizes up to 5000, does not help.

Logs and configurations attached.
[logs.zip](https://github.com/hummingbot/hummingbot/files/9992111/logs.zip)

[2022-11-12 11:06] NRZelenskiy opened #5880 "[binance] OrderType.MARKET is not in the list of supported order types"
Look at changelog of 1.9.0 => found a new one script (buy_low_sell_high)

Then I try to use it with default for that script binance_paper_trade connector - it is going well.
After some setting Moving Average timeframes I try to use it at regular binance connector and get error.

hummingbot.core.event.event_reporter - EVENT_LOG - {"timestamp": 1668247307.0, "order_id": "x-XEKWYxxxxx", "order_type":

[2022-11-12 14:25] bonez56 commented on #5868
Crypto.com made some significant changes to their Exchange (and API) on 31/10/22, this will need to be checked and taken into account for Hummingbot to work again properly. I am also able to reproduce the same error as OP. All USDC pairs have moved to USD, eg. BTC/USDC is now BTC/USD. They now have a single USD 'bucket', so with the exception of USDT, when you deposit USDC/BUSD/TUSD etc you end up

[2022-11-12 17:20] MementoRC commented on #5868
@bonez56 @Valodax @rapcmia @cardosofede Correct, however the correct location for the relevant changes are under: https://exchange-docs.crypto.com/spot/index.html#change-logs scroll-down to:
<p style="margin-right: 498.786px; padding: 0px 28px; box-sizing: border-box; display: block; line-height: 1.6; margin-top: 0px; color: rgb(51, 51, 51); font-family: -apple-system, BlinkMacSystemFont, &quot;Se

[2022-11-13 14:11] leecarney commented on #5700
@rapcmia I can't sign up to FTX - is this happening anywhere else I can test with?

[2022-11-14 04:00] JeremyKono opened #5882 "feat / Add VVS Finance & MM Finance on Cronos Chain"
Connector created in accordance to: https://snapshot.org/#/hbot-ip.eth/proposal/0x9e8d1424df8c4fbc8820faef66168d7313b0d6540fffcb3e6905b43cdd3ad6e3

[2022-11-14 04:00] JeremyKono commented on #5882
Allocated HBOT: 1,000,000 HBOT

[2022-11-14 07:11] rapcmia opened #5883 "FTX- Error in requesting exchange info"
**Describe the bug**
Upon opening the hummingbot client, we are getting a notification regarding FTX `There was an error requesting exchange info` d

Note: This does not affect other connectors

![image](https://user-images.githubusercontent.com/73840223/201596737-0aeea7a7-a774-43d2-a720-987e85d377e4.png)

[code]

**Steps To Reproduce**
1. Open hummingbot client

**Release version**
development br

[2022-11-14 09:24] Astrit11 opened #5884 "Loopring not working with v2.1 compliant(PMM)"
**Describe the bug**
I added the loopring_paper_trade on conf_client.yml created the config with LRC-USDT pair and added LRC paper trade funds,but when I start the bot I see empty order book for  this given pair(for all other pairs as well) and I see the error :

[code]
I can see that the connection is established the market is fetched the pair is fetched but im not sure  why the token id comes as

[2022-11-14 09:33] JeremyKono commented on #5877
HBOT bounty: 250,000

[2022-11-14 23:01] mhrvth commented on #5883
Obviously since the exchange is bankrupt the service is terminated. It's not a bug.

[2022-11-15 06:44] nikspz commented on #5617
Fixed with https://github.com/hummingbot/hummingbot/pull/5809

[2022-11-15 09:22] vic-en commented on #5693
https://github.com/hummingbot/hummingbot/pull/5885

[2022-11-15 11:45] rapcmia commented on #5880
Hi @NRZelenskiy good day to you,
Please be advised our binance connector does not support market order type and only limit orders atm. I tried to check the script and seems to be designed on a paper trade. Our team do have plans to integrate this market order type on supported connectors on future releases.

Tagging this ticket as closed for now

[2022-11-15 11:45] #5880 closed

[2022-11-15 12:40] nikspz commented on #5720
fix has been deployed and available on the Hummingbot version 1.9.0 release

[2022-11-15 12:40] #5720 closed

[2022-11-15 14:09] NRZelenskiy commented on #5880
Greetings, sir! @rapcmia Appreciated for your answer. Will waiting for update with opportunity to use script.

[2022-11-15 18:15] nikspz commented on #5642
fix has been deployed here: https://github.com/hummingbot/hummingbot/pull/5664 and available on the Hummingbot version 1.9.0 release

[2022-11-15 18:15] #5642 closed

[2022-11-15 21:39] fahadshery opened #5886 "hummingbot on portainer"
hi,

is this possible to run hummingbot on `portainer`? Do you have any docker compose files?
and I don't wish to use network=host for docker since it's a remote server and I just wish to use docker for networking. do I need to expose any container ports?

thanks

[2022-11-16 02:02] JeremyKono commented on #5601
Bounty has been paid. Thank you for your contribution!

[2022-11-16 02:03] JeremyKono commented on #5617
Bounty has been paid. Thank you for your contribution!

[2022-11-16 02:03] JeremyKono commented on #5068
Bounty has been paid. Thank you for your contribution!

[2022-11-16 02:03] JeremyKono commented on #5833
Bounty has been paid. Thank you for your contribution!

[2022-11-16 02:04] JeremyKono commented on #5813
Bounty has been paid. Thank you for your contribution!

[2022-11-16 02:07] JeremyKono commented on #5695
Bounty has been paid. Thank you for your contribution!

[2022-11-16 03:19] rapcmia opened #5887 "Gateway-v2 - Unable to add wallet on some connectors causing "Unhandled error in background task""
**Describe the bug**
While checking development branch latest commit `785f70593621512` we found out that it does not let us setup wallet for gateway on some connectors causing `Unhandled error in background task: local variable 'wallet_account_id' referenced before assignment`

![image](https://user-images.githubusercontent.com/73840223/202074868-096e91cd-ecb9-48be-8478-b4ada998a78d.png)

[code]

[2022-11-16 04:04] cmichaeltimmons commented on #5794
I have been blocked.  I need to have a meeting with @cardosofede about some things. I was not able to meet with him on the 10th but I scheduled another for the 22ond.  If someone is ready to work on this and can move faster,  I will not be upset.  I plan on completing it if not though.  It is a good learning experience for me with Python and this codebase

[2022-11-16 04:12] nikspz commented on #5617
fix has been deployed and available on the Hummingbot version 1.9.0 release

[2022-11-16 04:12] #5617 closed

[2022-11-16 04:25] nikspz commented on #5068
fix has been deployed https://github.com/hummingbot/hummingbot/pull/5812  and will be available on the upcoming Hummingbot version 1.10.0 release

[2022-11-16 04:25] #5068 closed

[2022-11-16 04:32] nikspz commented on #5813
fix has been deployed https://github.com/hummingbot/hummingbot/pull/5828 and will be available on the upcoming Hummingbot version 1.10.0 release

[2022-11-16 04:32] #5813 closed

[2022-11-16 04:39] nikspz commented on #5833
fix has been deployed and will be available on the upcoming Hummingbot version 1.10.0 release

[2022-11-16 04:39] #5833 closed

[2022-11-16 06:22] rapcmia commented on #5864
Hi @berchapman good day and apologies on the delay,
Just wanted to confirm if you tried to change the nodeURL to infura instead of using ankr?

Incase you want to change it here is the steps to do:
1. Start hummingbot client and make sure gateway is `ONLINE`
2. Run `gateway config ethereum.networks.goerli.nodeURL  insert_infura_nodeurl`
3. Import then start the strategy again

For infura nodeURL y

[2022-11-16 06:55] rapcmia commented on #5871
Hi @glarkou good day to you
Thanks for reporting this issue, I am able to reproduce it by monitoring a the total and available balance while running the client on `status --live` which we have reported that there seems to be delay under https://github.com/hummingbot/hummingbot/issues/5756. You would notice this after few trades and should be updated at the event of recreating orders again in which

[2022-11-16 08:03] rapcmia commented on #5869
Hi @NisoKTNU good day to you
Just to confirm if this has been tested on other markets as well? I would assume that's the expected behavior if the price of the order changes quickly resulting spreads to move away from the threshold that holds the order not be cancelled.

[2022-11-16 11:38] #5601 closed

[2022-11-16 14:43] arnelhbot opened #5890 "Perpetual protocol - Spot perpetual arbitrage opening position causes Unhandled error in background task"
**Describe the bug**
Testing `Gateway` on `Dev 1.10.0` with `Spot_perpetual_arbitrage` using `Perp_ethereum_optimism`, it was observed that there was `Unhandled error in background task: 'USD'` , it was also tested with other markets such as AVAX and had the same issue of  `Unhandled error in background task: 'AVAX'` during testing. We tested on `paper_trade` as well as `live accounts` with a rang

[2022-11-16 14:58] ethicrypt commented on #5601
I checked my wallet this morning and I have not received the bounty. Is there normally a period of time between when it is paid and when it is received? I'm not in any hurry, just curious.

[2022-11-16 21:04] jskrivanek commented on #5551
@MementoRC Could you please provide some details here?

[2022-11-17 10:10] #5884 closed

[2022-11-17 13:05] glarkou commented on #5871
@rapcmia but are you sure that these two issues are related?

Because the other one describes the issue where you might submit an order and haven't got a notification that is was canceled resulted into double the balance. This one, I think it's a bit more random, complicated since the issue might be open for a longer period of time.

[2022-11-17 16:03] #5698 closed

[2022-11-18 04:31] nikspz commented on #5871
hi @glarkou, yep, the issue you mentioned (`total balance be less than the available balance`) is related to ongoing issue https://github.com/hummingbot/hummingbot/issues/5756 (Gate.io - Delay updating Total balance #5756). That's a known issue and team aware of it.

[2022-11-18 05:48] nikspz opened #5896 "OKX - WS connection closed caused `Bot stuck into Canceling the limit order`"
Describe the bug:
After bot run for around 1-2 days
Bot stuck into `Canceling the limit order` after `The websocket connection was closed (The WS connection was closed unexpectedly. Close code = 1006 msg data: None)`
Bot try to cancel order that no more exist on the exchange

Steps To Reproduce:

1. Clone and install latest dev/master branch
2. Create pureMM strategy using okx as connector
3. Star

[2022-11-18 08:35] yancong001 commented on #5795
I would like to be assigned this bounty and solve the remaining problems.

[2022-11-18 12:00] rapcmia commented on #5890
Severity: P2
Bounty: 50,000 (https://hummingbot.org/maintenance/bugs/)
Rationale: Bug related to a component on Perpetual Protocol not able to place order nor open position

[2022-11-18 12:06] rapcmia commented on #5887
Fixed

[2022-11-18 12:06] #5887 closed

[2022-11-19 15:48] huatahhhhh commented on #5813
Confirmed and received thanks!

[2022-11-20 21:15] tomerqueves opened #5899 "magicbot"
haciendo unas pruebas.

[2022-11-21 06:53] rapcmia commented on #5899
Hi @tomerqueves good day to you
Please be advised that if this ticket is something to do with enhancement or an issues is to make sure to add details or supporting files such as logs, strategy config and screenshots so we can help investigate.

We will close this ticket for now, we suggest to visit our [discord channel ](https://discord.gg/hummingbot?_ga=2.65206254.117362285.1669013543-1267687797.

[2022-11-21 06:53] #5899 closed

[2022-11-21 14:36] ethicrypt commented on #5601
@JeremyKono  I have been checking my wallet over the last 6 days and I have not received the bounty. Is there normally a period of time between when it is paid and when it is received? I'm not in any hurry, just want to make sure everything is squared away.

[2022-11-21 16:11] huatahhhhh commented on #5896
@nikspz this is likely due to #5800 . Will post a PR for that soon, schedule has been tight lately

[2022-11-21 23:16] nikspz commented on #5864
Closed that issue as resolved by changing NodeURL

[2022-11-21 23:16] #5864 closed

[2022-11-21 23:17] nikspz commented on #5871
Closed that issue as duplicated with #5756

[2022-11-21 23:17] #5871 closed

[2022-11-21 23:19] nikspz commented on #5695
Closed that issue as fixed with https://github.com/hummingbot/hummingbot/pull/5812

[2022-11-21 23:19] #5695 closed

[2022-11-22 04:21] huatahhhhh commented on #5896
@nikspz PR created

[2022-11-22 04:49] yancong001 commented on #5794
I would like to be assigned this bounty and solve the remaining problems.

[2022-11-22 05:55] nikspz opened #5902 "Perpetual protocol - Getting AttributeError: 'ValueError' object has no attribute 'get'"
Bot returns an AttributeError: 'ValueError' object has no attribute 'get' after 4-10 hours of longrun

**Steps To Reproduce**
Clone and install latest dev branch
Create a spot-perpetual arbitrage using `perp`
Start and run strategy for 4-10 hours till that issue showing

Actual:
Call to https://localhost:18230/amm/perp/position failed.
Bot returns an error 'ValueError' object has no attribute 'get

[2022-11-22 10:21] nikspz commented on #5841
Also happened to bybit spot, not affected the pureMM strategy

[2022-11-22 11:44] nikspz commented on #5869
Can't reproduce on dev-1.10.0 using AvellanedaMM with bybit spot
![bybit not cancelled orders immedeately](https://user-images.githubusercontent.com/83953535/203305856-f97c7808-9f44-40fe-a893-a57299ede954.gif)

[2022-11-22 11:44] #5869 closed

[2022-11-22 11:46] nikspz commented on #5869
@NisoKTNU Please update your version to the latest to see if issue there for you

[2022-11-22 12:46] bonez56 commented on #5868
Just received this email from Crypto.com, more changes ahead:

Dear Valued Customer,

Following the launch of the GEN 3.0. Crypto‌.com Exchange, please be informed that there will be API breaking changes to the USD Bundle, impacting both the Exchange v1 API and Spot V2.1 API.

The following changes will happen on 1 December 2022, 20:00 UTC:

    USD_Stable_Coin symbol will be renamed to USD
    Us

[2022-11-22 20:14] cmichaeltimmons commented on #5794
@JeremyKono feel free to assign this to @yancong001

[2022-11-23 08:39] nikspz opened #5903 "Huobi - Bot returns a prompt / shows non-existing hanging orders after restarting the strategy on status"
Bot shows non-existing hanging orders after restarting the strategy on status, only new sets of order is on exchange

**Steps To Reproduce**

1. create a pureMM strategy using huobi
2. enable hanging orders
3. get filled orders and wait for hanging orders showed on both sides in status
4. stop the bot and confirm if orders are cancelled on both client and exchange
5. Start  the bot again

Actual:

[2022-11-23 08:40] nikspz commented on #5903
Should be fixed on https://github.com/hummingbot/hummingbot/pull/5892

[2022-11-23 15:02] nikspz commented on #3407
Closed that issue as FTX going to be removed as connector in 1.10.0 Release

[2022-11-23 15:02] #3407 closed

[2022-11-23 15:04] nikspz commented on #3819
Closed that issue as FTX (and FTX perpetual) going to be removed as connector in 1.10.0 Release

[2022-11-23 15:04] #3819 closed

[2022-11-23 15:05] nikspz commented on #4406
Closed that issue as FTX going to be removed as connector in 1.10.0 Release

[2022-11-23 15:05] #4406 closed

[2022-11-23 15:06] #5244 closed

[2022-11-23 15:06] nikspz commented on #5787
Closed that issue as FTX and FTX perpetual going to be removed as connector in 1.10.0 Release

[2022-11-23 15:06] #5787 closed

[2022-11-23 15:11] nikspz commented on #5865
Will close the issue since Ftx is going to be deleted in 1.10.0 Release

[2022-11-23 15:12] nikspz commented on #5883
Will close the issue since Ftx is going to be deleted in 1.10.0 Release

[2022-11-23 15:14] nikspz commented on #5700
FTX will be removed in 1.10.0 Release, the branch already pushed to development https://github.com/hummingbot/hummingbot/pull/5893

[2022-11-23 21:32] nikspz commented on #5164
replicated on development 1.10.0

ps
For workaround:
Manually edit the strategy file from../conf/my_twap.yml and set the values for end_datetime

[2022-11-23 22:05] nikspz commented on #5826
Reproduced on development - 1.10.0
Data tracking also affected - filled orders not recorded on CSV File/datadog

[2022-11-23 22:07] nikspz commented on #5903
Also happened on ascendex (development 1.10.0)
![image](https://user-images.githubusercontent.com/83953535/203654059-c2f46678-b5cd-4d8e-af22-8084a4ce123e.png)

[2022-11-24 14:21] rapcmia opened #5905 "Gateway v2 - Typo or invalid config would return an `Error: connection to gateway failed`"
**Describe the bug**
When you enter an incorrect parameters or typos when running `gateway config insert-parameter-here` the client would return `Error: Connection to Gateway localhost:xxxx failed`

<img width="453" alt="image" src="https://user-images.githubusercontent.com/73840223/203806235-616c210d-f468-4ae6-8d9f-2a3e62d8300b.png">

Should it be that the client would return that its a invalid c

[2022-11-24 17:21] aarmoa commented on #5903
Order cancellation is not executed synchronously in the server either for Huobi or for AscendEx. I think the description of the expected behavior in this case goes against the bot core implementation.

[2022-11-25 06:35] #5883 closed

[2022-11-25 06:38] rapcmia commented on #5819
Fix deployed on upcoming 1.10 and development

[2022-11-25 06:38] #5819 closed

[2022-11-25 06:50] rapcmia commented on #5506
Hi @shlatchz good day,
We have some improvements added to the gateway source build over the previous releases. Please see the link below for the steps that we usually use to setup and works all the time.

https://docs.hummingbot.org/developers/gateway/setup/

[2022-11-25 06:50] #5506 closed

[2022-11-25 06:56] nikspz commented on #5418
Reproduced on 1.10.0
![image](https://user-images.githubusercontent.com/83953535/203920101-9ebe55a4-8d8d-4f11-8ade-341c1be6dfde.png)

[2022-11-25 08:52] carlitogetaladajr commented on #5577
Hi @vic-en, please fill up & submit the AML Policy Form via this link: https://forms.gle/3wCGykiQtjEAY2J17
This is a one-time process for each ETH Address used to received HBOT bounty.

[2022-11-25 10:40] rapcmia commented on #5196
Fix has been deployed on the upcoming Hummingbot 1.10 release

[2022-11-25 10:40] #5196 closed

[2022-11-25 10:44] rapcmia commented on #5276
Hi @mancap314 @afkj0hn @sirEven @gusreyes01 good day,
DyDx Perpetual has been refactored by one of our community devs and deployed the fix that will be available on the upcoming Hummingbot 1.10 release. You may want to wait for the release or try it on our development branch. Thank you

[2022-11-25 10:44] #5276 closed

[2022-11-25 10:58] rapcmia commented on #5207
Hi @SC4RECOIN good day,
Please be advised that Dydx perpetual has been recently updated and improved by one of our community devs. This will be available on the upcoming Hummingbot 1.10 release and also on development branch. As per testing this update we had not observed this issue happened and already fixed.

Closing this ticket for now, else you can reopen if issue persist. Thank you

[2022-11-25 10:58] #5207 closed

[2022-11-25 11:15] rapcmia commented on #5275
Hi @JulesText good day to you,
Please be advised that dydx perpetual has been updated and improved by one of our community devs and will be available on the upcoming release of Hummingbot 1.10. In the event that you would want to check this out please feel free to use our development branch.

Closing this PR now as we have not observed this issue happened. You may reopen if needed. Thank you! 👍

[2022-11-25 11:15] #5275 closed

[2022-11-25 11:19] rapcmia commented on #5198
Hi @balamurugan678
Please be advised that Dydx perpetual has been recently updated and improved by one of our community devs. This will be available on the upcoming Hummingbot 1.10 release and also on development branch. As per testing this update we had not observed this issue happened and already fixed.

Closing this ticket for now, else you can reopen if issue persist. Thank you

[2022-11-25 11:19] #5198 closed

[2022-11-25 12:11] nikspz commented on #3709
FTX will be removed as a connector in 1.10.0 Release, the PR to delete already pushed to development https://github.com/hummingbot/hummingbot/pull/5893

[2022-11-25 12:11] #3709 closed

[2022-11-27 05:14] vic-en commented on #5577
@carlitogetaladajr
Done!

[2022-11-28 05:39] rapcmia commented on #5700
The foundation team decided to discontinue FTX connector and this bounty.

[2022-11-28 05:39] #5700 closed

[2022-11-28 05:52] rapcmia commented on #5825
Issue seems to have fixed and does not occur

[2022-11-28 05:52] #5825 closed

[2022-11-28 06:09] rapcmia commented on #5567
Please be advised that your setup is not the correct way of using the max order age since the parameter is design to best work with `order_refresh_tolerance_pct` to limit how long the order can be staying as active on the orderbook (same goes for hanging orders) therefore the value of `max_order_age` must not be lower that `order_refresh_time`

Closing ticket for now.

[2022-11-28 08:10] nikspz opened #5914 "Binance perpetual - Failed to connect API keys, getting NETWORK - Error getting server time."
Note: For monitoring purpose

Bot showing NETWORK - Error getting server time. on the initial start.
Failed to connect binance perpetual API keys

**Release version**
Development branch

**Steps To Reproduce**
1. Clone and install latest development branch
2. Start the bot
3. Pay attention to the log pane
4. try to connect binance_perpetual API keys

Actual:
Bot showing NETWORK - Error getting ser

[2022-11-28 11:15] JeremyKono commented on #5074
Assigning this issue to @MementoRC. Please next time comment first if you want this assigned to you so we can do the steps accordingly. Thanks

[2022-11-28 11:52] yancong001 commented on #5794
i see

[2022-11-28 18:54] nikspz commented on #5171
Close that ticket since that's expected behavior for bot not start trading for a long time, since bot is need to calculate `Asset price volatility`. Usually it takes a long time if there's no big changes in price.

there's a result for Kucoin, bot was able to calculate and start:

![image](https://user-images.githubusercontent.com/83953535/204356978-0436daab-db1a-420b-b27d-4a435808c615.png)

[2022-11-28 18:54] #5171 closed

[2022-11-28 21:25] FlorentG74 opened #5915 "AMM Arbitrage strategy stuck on "waiting for allowances" on Polygon"
**Describe the bug**
I'm facing the 'waiting for allowances' issue when trying to run the amm_arb strategy (config attached) on both Uniswap and Quickswap on the Polygon network.
I can see my balances from hummingbot & have approved the tokens on the uniswap app (swapped tokens back and forth on their app).
I checked the token list as well after seeing the issue open on github & the tokenlist does

[2022-11-29 04:20] nikspz commented on #5914
From developer position closing the issue would be okay,
that’s expected behavior for binance since binance restricted in the US location.

Issue showed on AWS, now can't reproduce using AWS
![image](https://user-images.githubusercontent.com/83953535/204437851-51f562a3-8a16-46e2-ae9a-f244116c638e.png)

[2022-11-29 04:20] #5914 closed

[2022-11-29 06:32] rapcmia commented on #5866
Hi @berikarg good day to you and thanks for submitting this ticket.
I tried to reproduce this issue and monitor the results, I can confirm that some of my orders are filled but there are also failed tx with [error](https://polygonscan.com/tx/0x4947327161781d4b540716067bd44b40da40710400a9e21b8a94e69b58af6262) of `Fail with error 'TransferHelper: TRANSFER_FROM_FAILED'` and I'm not able to reproduce

[2022-11-29 22:39] jellyjamin commented on #5915
It also does that for avalanche on open ocean for version 1.1

[2022-11-30 02:01] bonez56 commented on #5868
Just wondering if any progress has been made on getting the crypto_com connector working again? It is the main exchange I run Hummingbot on, so haven't been able to use it for some time.

[2022-11-30 05:59] rapcmia commented on #5915
Hi @FlorentG74 good day
Thanks for submitting this ticket, I can confirm that I am experiencing this issue when using WMATIC and MATIC. I ran some tests observed this even when I tried to setup a modified tokenlist. We will consult our dev team for advice how we can proceed with a fix or a workaround and get back to you. Thank you 🙇

[2022-11-30 06:01] rapcmia commented on #5915
Hi @jellyjamin we appreciate your comment however it would be best if you can open a ticket related to avalanche instead. Atm I am able to run some markets working as expected.  Please create a [separate ticket](https://github.com/hummingbot/hummingbot/issues/new/choose) and add the details needed thank you

[2022-11-30 06:04] rapcmia commented on #5715
Hi @preze93 good day and apologies for not responding back
Looks like it has something to do with the default tokenlist used on this connector. While this is true, I tried also to create a modified version of the json file and finding some issues with it. Please give us more time to investigate this case and will get back to you 🙇

[2022-11-30 07:33] FlorentG74 commented on #5915
Thanks @rapcmia; please let me know if anything else's needed from my end.

[2022-11-30 15:16] rapcmia commented on #5602
Hi @leecarney good day
Please be advised that the foundation team decided to remove the bounty from this ticket since we have a another PR https://github.com/hummingbot/hummingbot/pull/5891 that refactors the Ascendex connector to latest connector standards. You may want to to check our development branch when its already merged. Thank you for time 🙇

[2022-11-30 15:43] JeremyKono commented on #5190
Assigning this issue to @MementoRC. Also, next time please comment first so we can see your comment before creating a PR. Thanks!

[2022-11-30 23:50] space-agent commented on #5869
[2022-11-30 17-40-44-1.webm](https://user-images.githubusercontent.com/118084216/204932683-c3c81f25-4745-4d21-9bfb-fa985f89d420.webm)

I have the same issue